<template lang="html">
  <main class="gated-page" :class="{ dark: $page.data.dark }">
    <FlavourHero overline="Vielen Dank" :title="title" />
    <section class="content">
      <g-image :src="$page.data.image" :alt="$page.data.imageAlt" />
      <FlavourButton :color="$page.data.color" :dark="$page.data.dark" type="a" :href="$page.data.downloadLink.src" target="_blank" rel="nofollow noreferrer noopener">Jetzt Herunterladen</FlavourButton>
    </section>
  </main>
</template>

<script>
export default {
  beforeRouteEnter(to, from, next) {
    if (process.isClient && !to.query.email) return next({ name: '404' });
    return next();
  },
  computed: {
    title() {
      return `„${(this.$page && this.$page.data.title) || 'Unbetitelt'}“ kann jetzt heruntergeladen werden`;
    },
  },
  created() {
    this.$root.pageColor = (this.$page && this.$page.data.color) || 'plum';
    this.$root.pageDark = (this.$page && this.$page.data.dark) || false;
  },
  metaInfo() {
    const meta = {
      title: this.title,
      meta: [
        {
          name: 'robots',
          content: 'noindex',
        },
      ],
    };

    if (this.$page && this.$page.data.dark) meta.bodyAttrs = { class: 'dark' };

    return meta;
  },
};
</script>

<page-query>
query ($id: ID!) {
  data: gatedAsset(id: $id) {
    color,
    dark,
    title,
    image(width: 300),
    imageAlt,
    downloadLink
  }
}
</page-query>

<style lang="stylus" scoped>
@require '../assets/styles/breakpoints'

.gated-page
  overflow: hidden

  .hero
    margin-bottom: 4rem

  .content
    max-width: 39rem
    margin: 0 auto
    padding-bottom: 12.5rem
    text-align: center

    @media $mobile
      padding: 0 2rem 8rem 2rem

    img,
    noscript >>> img
      margin: 4rem auto
      margin-top: 8rem

      @media $mobile
        margin-top: 4rem
</style>
