<template lang="html">
  <div class="lp-wrapper">
    <transition>
      <FlavourLandingPageMenu v-if="menuNotEmpty" v-show="showMenu" :color="$page.data.color" :cta="$page.data.cta" :current-language="$page.data.lang" :dark="$page.data.dark" :entries="$page.data.menu" :languages="$page.data.langs" @activate="$emit('lock-scroll')" @deactivate="$emit('release-scroll')" @language-change="switchLanguage" />
    </transition>
    <main :class="{ 'no-menu': !menuNotEmpty }">
      <template v-for="(block, index) in $page.data.content">
        <section v-if="block.template === 'block-hero'" class="block hero" :class="{ dark: $page.data.dark || block.dark, logo: block.showLogo && $page.data.logo, overlap: block.negativeMargin }" :id="block.id" :key="index" :style="{ backgroundColor: block.color }">
          <g-image v-if="block.showLogo && $page.data.logo" :src="$page.data.logo" />
          <FlavourHero v-if="block.blurb || block.overline || block.title" :blurb="block.blurb" :overline="block.overline" :title="block.title" />
        </section>
        <FlavourVideo v-else-if="block.template === 'block-video'" :color="$page.data.color" class="block" :dark="block.dark" :full-width="block.fullWidth" :id="block.id" :key="index" :video-id="block.videoId" :video-thumbnail="block.videoThumbnail">
          <h2 v-if="block.title">{{block.title}}</h2>
          <div v-if="block.columns && block.columns.length > 0" class="two-column-text">
            <p v-html="block.columns[0].body" />
            <p v-html="block.columns[1].body" />
          </div>
        </FlavourVideo>
        <FlavourFeatures v-else-if="block.template === 'block-features'" class="block" :color="$page.data.color" :dark="block.dark" :features="block.features" :id="block.id" :key="index" :title="block.title" />
        <FlavourTextAndImage v-else-if="block.template === 'block-text-and-image'" :alt="block.alt" :background="block.background" class="block" :dark="block.dark" :image-first="block.imageFirst" :image-focus="block.imageFocus" :id="block.id" :key="index" :src="block.src">
          <h2 v-if="block.title">{{block.title}}</h2>
          <div v-if="block.body" v-html="block.body" class="body" />
          <FlavourButton v-if="block.cta && block.cta.target && block.cta.label" :color="$page.data.color" :custom-color="block.cta.color" :dark="block.dark" :href="block.cta.target" rel="noopener noreferrer" :target="block.cta.target.startsWith('http') ? '_blank' : null" :type="block.cta.target.startsWith('http') ? 'a' : 'g-link'">{{block.cta.label}}</FlavourButton>
        </FlavourTextAndImage>
        <FlavourQuote v-else-if="block.template === 'block-quote'" class="block" :client="block.client" :color="block.color" :customGradient="block.customGradient && { colorOne: block.customGradient.colorOne, colorTwo: block.customGradient.colorTwo }" :id="block.id" :key="index" :name="block.name" :quote="block.quote" :src="block.src" />
        <FlavourSeparator v-else-if="block.template === 'block-separator'" :alt="block.alt" class="block" :class="block.color || $page.data.color" :content="block.content" :color="block.color || $page.data.color" :cta="block.cta" :dark="block.dark" :faded="block.faded" :id="block.id" :key="index" :negativeMargin="block.negativeMargin" :src="block.src" :title="block.title" />
        <FlavourText v-else-if="block.template === 'block-text'" :background="block.background" class="block" :columns="block.columns" :dark="block.dark" :id="block.id" :key="index" :title="block.title" />
        <FlavourSteps v-else-if="block.template === 'block-steps'" class="block" :color="$page.data.color" :id="block.id" :key="index" :steps="block.steps" :title="block.title" />
        <FlavourCards v-else-if="block.template === 'block-cards'" :background="block.background" :cards="block.cards" class="block" :dark="block.dark" :id="block.id" :key="index" :title="block.title" />
      </template>
    </main>
    <FlavourLandingPageFooter :current-language="$page.data.lang" :dark="$page.data.dark" :logo="$page.data.logo" :languages="$page.data.langs" @language-change="switchLanguage" />
  </div>
</template>

<script>
import generateMetaTags from '@/assets/js/generateMetaTags';
import generateCanonicalLinks from '@/assets/js/generateCanonicalLinks';

export default {
  computed: {
    menuNotEmpty() {
      return this.$page.data.menu.length > 0 || this.$page.data.langs.length > 0 || (this.$page.data.cta && this.$page.data.cta.label && this.$page.data.cta.target);
    },
  },
  created() {
    this.$root.pageColor = (this.$page && this.$page.data.color) || 'plum';
    this.$root.pageDark = (this.$page && this.$page.data.dark) || false;
  },
  metaInfo() {
    const defaultTitle = (this.$page && (this.$page.data.seo.title || this.$page.data.title)) || 'Unbetitelt';
    const seoCopy = (this.$page && this.$page.data.seo) ? { ...this.$page.data.seo } : {};

    const metaTags = generateMetaTags(seoCopy, this.$route.path, defaultTitle);

    const link = generateCanonicalLinks(this.$page.data.seo.canonicalUrl, this.$route.path);

    const meta = {
      link,
      meta: metaTags,
      title: defaultTitle,
      titleTemplate: this.$page && this.$page.data.seo.title ? '%s' : '%s – Flavour Kommunikation',
    };

    if (this.$page && this.$page.data.dark) meta.bodyAttrs = { class: 'dark' };

    return meta;
  },
  methods: {
    switchLanguage(lang) {
      const LanguageEntry = this.$page.data.langs.find((entry) => entry.label === lang);
      window.location.href = LanguageEntry.url;
    },
  },
  props: {
    showMenu: Boolean,
  },
  updated() {
    this.$root.pageColor = (this.$page && this.$page.data.color) || 'plum';
    this.$root.pageDark = (this.$page && this.$page.data.dark) || false;
  },
};
</script>

<page-query>
query ($id: ID!) {
  data: landingPage(id: $id) {
    color,
    content {
      template,
      id,
      ...on TextBlock {
        background
        dark
        title
        columns {
          body
        }
      }
      ...on HeroBlock {
        overline
        title
        blurb
        showLogo
        negativeMargin
        color
        dark
      }
      ...on TextAndImageBlock {
        alt
        background
        dark
        imageFirst
        imageFocus
        src(quality: 90)
        body
        title,
        cta {
          icon
          color
          label
          target
        }
      }
      ...on FeaturesBlock {
        title
        features {
          title
          body
          icon
        }
        dark
      }
      ...on StepsBlock {
        title
        steps {
          icon
          title
          body
        }
      }
      ...on SeparatorBlock {
        alt
        color
        content
        cta {
          icon
          label
          target
          color
        }
        dark
        faded
        negativeMargin
        src(quality: 90)
        title
      }
      ...on QuoteBlock {
        client
        color
        customGradient {
          colorOne
          colorTwo
        }
        name
        quote
        src(quality: 90)
      }
      ...on VideoBlock {
        color
        dark
        fullWidth
        videoId
        videoThumbnail
        title
        columns {
          body
        }
      }
      ...on CardsBlock {
        title
        background
        dark
        cards {
          asset
          borderColor
          color
          dark
          href
          icon
          image(width: 128, height: 128)
          size
          body
          title
          type
        }
      }
    },
    cta {
      label,
      target,
      icon
    },
    dark,
    lang,
    langs {
      label,
      url
    },
    logo(width: 400),
    menu {
      label
      anchor
    },
    title,
    seo {
      title,
      description,
      image(width: 1200, height: 630),
      imageAlt,
      cardStyle,
      keywords,
      canonicalUrl,
      noindex
    }
  }
}
</page-query>

<style lang="stylus" scoped>
@require '../assets/styles/breakpoints'
@require '../assets/styles/colors'

.lp-wrapper
  .lp-menu
    position: fixed
    top: 0
    width: 100%
    z-index: 9

    &.v-enter-active,
    &.v-leave-active
      transition: transform 200ms ease-out

      &.v-enter,
      &.v-leave-to
        transform: translateY(-100%)

  main
    min-height: calc(100vh - 12rem)

    @media $mobile
      min-height: calc(100vh - 7.5rem)

    &.no-menu
      margin-top: -12rem

      @media $mobile
        margin-top: -7.5rem

      .block.hero.logo
        padding-top: 7.5rem

    .block
      &.hero
        padding: (56 / 16)rem 1rem (128 / 16)rem 1rem

        // @media $mobile
        //   padding-bottom: 4rem

        &.overlap
          padding-bottom: (384 / 16)rem
          margin-bottom: (-256 / 16)rem

          // @media $mobile
          //   padding-bottom: (329 / 16)rem

          & + .video,
          & + .text-and-image
            margin-top: 0

        img,
        noscript >>> img
          display: block
          margin-left: auto
          margin-right: auto

        .hero
          margin-bottom: 0
          padding-left: 0
          padding-right: 0

          >>> .h1:first-child,
          >>> p:first-child
            margin-top: 4rem

          >>> .overline:first-child
            @media $mobile
              margin-top: 2rem

      &.video
        .two-column-text
          display: flex

          @media $mobile
            display: block

          p
            width: 100%
            margin-bottom: 0

            &:first-child
              margin-right: 3rem

              @media $mobile
                margin-bottom: 1.618em
                margin-right: 0

      &.separator
        &.apple
          >>> a
            color: $apple

      &.text-and-image
        &:last-child
          @media $mobile
            margin-bottom: 0

        .body:not(:last-child)
          margin-bottom: 2rem
</style>
