<template lang="html">
  <main class="project-detail">
    <section class="hero" :class="{ dark: $page.data.dark }" :style="{ backgroundImage: `linear-gradient(to top right, ${$page.data.colorOne}, ${$page.data.colorTwo})`}">
      <g-image class="not-fullwidth" :alt="$page.data.heroAlt" :src="$page.data.hero || ''" height="600" />
      <FlavourClientLogo :logo="$page.data.logo" />
      <p v-if="$page.data.type" class="tag">{{$page.data.type}}</p>
      <h1>{{$page.data.title}}</h1>
    </section>
    <section class="summary not-fullwidth">
      <section class="briefing">
        <h2>Aufgabenstellung</h2>
        <FlavourTextHighlight>
          <p v-html="$page.data.briefing" />
        </FlavourTextHighlight>
      </section>
      <section class="services">
        <h2>Leistungen</h2>
        <ul>
          <li v-for="service in $page.data.leistungen" :key="service">{{service}}</li>
        </ul>
      </section>
    </section>
    <div v-for="(block, index) in $page.data.blocks" class="block" :class="[ block.template, { 'negative-margin': block.negativeMargin } ]" :key="index">
      <FlavourSeparator
        v-if="block.template === 'separator'"
        :alt="block.alt"
        :content="block.text"
        :color="block.color || $page.data.colorOne"
        :customGradient="block.customGradient && { colorOne: $page.data.colorOne, colorTwo: $page.data.colorTwo }"
        :dark="block.dark"
        :faded="block.faded"
        :negativeMargin="block.negativeMargin"
        :src="block.image"
        :title="block.title"
      />
      <section v-if="block.template === 'text'" class="text-block not-fullwidth">
        <h2 v-if="block.title">{{block.title}}</h2>
        <p v-if="block.text" v-html="block.text" />
      </section>
      <section v-if="block.template === 'gallery'" class="gallery-block not-fullwidth">
        <div v-for="(image, index) in block.images" class="image-wrapper" :key="index">
          <g-image :alt="image.alt || `Galleriebild ${index + 1}`" :src="image.src || ''" :title="image.title" />
        </div>
      </section>
      <section v-if="block.template === 'image'" class="image-block not-fullwidth">
        <g-image :alt="block.alt" :class="{ dark: $page.data.dark }" :src="block.src || ''" />
      </section>
      <FlavourQuote
        v-if="block.template === 'quote'"
        :client="block.client"
        :customGradient="block.customGradient && { colorOne: $page.data.colorOne, colorTwo: $page.data.colorTwo }"
        :name="block.name"
        :quote="block.text"
        :src="block.src"
      />
    </div>
    <section v-if="$page.data.weitereProjekte && $page.data.weitereProjekte.length > 0" class="related-projects">
      <h2 class="show-overline">Weitere Projekte</h2>
      <div class="card-wrapper">
        <FlavourCard
          v-for="project in $page.data.weitereProjekte"
          :border-color="$page.data.fallbackColor"
          :color="project.fallbackColor"
          :href="project.path"
          :image="{ alt: project.title, src: project.image }"
          :key="project.id"
          size="large"
          :title="`${project.type ? project.type + ':' : ''} ${project.title}`"
        />
      </div>
    </section>
  </main>
</template>

<script>
import generateMetaTags from '@/assets/js/generateMetaTags';
import generateCanonicalLinks from '@/assets/js/generateCanonicalLinks';

export default {
  created() {
    this.$root.pageColor = (this.$page && this.$page.data.fallbackColor) || 'plum';
    this.$root.pageDark = (this.$page && this.$page.data.dark) || false;
  },
  metaInfo() {
    const defaultTitle = (this.$page && this.$page.data.title) || 'Unbetitelt';
    const seoCopy = (this.$page && this.$page.data.seo) ? { ...this.$page.data.seo } : {};

    if (!seoCopy.image && this.$page && this.$page.data) seoCopy.image = this.$page.data.socialMediaImage;

    const metaTags = generateMetaTags(seoCopy, this.$route.path, defaultTitle);

    const link = generateCanonicalLinks(this.$page.data.seo.canonicalUrl, this.$route.path);

    const meta = {
      link,
      meta: metaTags,
      title: defaultTitle,
    };

    if (this.$page && this.$page.data.dark) meta.bodyAttrs = { class: 'dark' };

    return meta;
  },
  updated() {
    this.$root.pageColor = (this.$page && this.$page.data.fallbackColor) || 'plum';
    this.$root.pageDark = (this.$page && this.$page.data.dark) || false;
  },
};
</script>

<page-query>
query ($id: ID!) {
  data: project(id: $id) {
    colorOne,
    colorTwo,
    dark,
    fallbackColor,
    logo,
    image,
    socialMediaImage: image(width: 1200, height: 630),
    title,
    type,
    hero,
    heroAlt,
    briefing,
    leistungen,
    blocks {
      alt,
      client,
      color,
      customGradient,
      dark,
      faded,
      image(quality: 90),
      images {
        src(quality: 90),
        alt,
        title
      },
      name,
      negativeMargin,
      src(quality: 90),
      template,
      text,
      title,
    },
    weitereProjekte {
      id,
      logo,
      path,
      image(width: 128, height: 128),
      title,
      fallbackColor,
      type,
    },
    seo {
      title,
      description,
      image(width: 1200, height: 630),
      imageAlt,
      cardStyle,
      keywords,
      canonicalUrl,
      noindex
    }
  }
}
</page-query>

<style lang="stylus" scoped>
@require '../assets/styles/breakpoints'

.project-detail
  overflow: hidden

  .hero
    padding: 8rem 0 8rem 0
    margin-bottom: 8rem

    @media $mobile
      padding-top: 0
      padding-bottom: 4rem
      margin-bottom: 4rem

    img,
    noscript >>> img
      margin-bottom: 3rem
      object-fit: cover
      height: 37.5rem // 600px
      border-radius: 2px
      width: 100%

      @media $mobile
        height: 100%
        padding: 0
        margin-bottom: 2rem
        border-radius: 0

    .client-logo
      text-align: center
      height: 4.5rem
      margin-bottom: 1.5rem

      @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) // IE Hack
        >>> div
          width: 100%

      @media $mobile
        height: 3rem

    .tag
      text-align: center
      margin-bottom: 1rem
      margin-top: 3rem
      font-weight: 500
      text-transform: uppercase
      letter-spacing: 0.125rem
      font-size: 1rem

      @media $mobile
        margin-top: 2rem

    h1
      margin-top: 0
      margin-bottom: 0
      margin-left: auto
      margin-right: auto
      max-width: 81rem

      @media $mobile
        padding: 0 2rem

  .summary
    display: flex
    flex-wrap: wrap
    margin-bottom: 12.5rem

    @media $desktopSmall
      display: block
      margin-bottom: 8rem

    section
      &.briefing
        margin-right: 10rem
        max-width: 39rem

        @media $desktopSmall
          margin-left: auto
          margin-right: auto
          margin-bottom: 4rem
          max-width: 39rem

      &.services
        max-width: 32rem

        @media $desktopSmall
          margin: 0 auto
          max-width: 39rem

        ul
          margin: 0

      h2
        text-align: left
        margin-top: 0

  .block.separator.negative-margin + .block
    position: relative
    z-index: 1

  .block:not(.negative-margin):not(:last-child)
    margin-bottom: 12.5rem

    @media $mobile
      margin-bottom: 8rem

  .block.separator:not(.negative-margin) + .block.separator, // fuse adjacent separators and quotes together
  .block.separator:not(.negative-margin) + .block.quote,
  .block.quote:not(.negative-margin) + .block.separator,
  .block.quote:not(.negative-margin) + .block.quote
      margin-top: -12.5rem

      @media $mobile
        margin-top: -8rem

  .text-block
    text-align: center

    h2
      max-width: 39rem
      margin-left: auto
      margin-right: auto

    p
      margin-left: auto
      margin-right: auto

  .gallery-block
    display: flex
    flex-wrap: wrap
    align-items: stretch

    .image-wrapper
      width: calc(50% - 1.5rem)
      margin-bottom: 3rem
      border-radius: 2px
      overflow: hidden

      @media $mobile
        width: 100%
        margin-bottom: 1rem

      &:nth-child(even)
        margin-right: 3rem

        @media $mobile
          margin-right: 0

      &:first-child
        width: 100%

      img
        height: 100%
        object-fit: cover

  .image-block
    img
      margin: 0 auto
      border-radius: 2px

  .related-projects
    margin-bottom: 12.5rem
    margin-top: @margin-bottom

    @media $mobile
      padding: 0 2rem
      margin-bottom: 8rem
      margin-top: @margin-bottom
</style>
