<template lang="html">
  <main class="story-detail">
    <FlavourStoryCard :color="$page.data.color" :logo="$page.data.logo" :show-button="false" :src="$page.data.image || ''" :title="$page.data.title" />
    <section class="summary not-fullwidth">
      <h2>{{$page.data.zusammenfassungTitel}}</h2>
      <p>{{$page.data.zusammenfassung}}</p>
    </section>
    <FlavourFactsAndFigures :buckets="$page.data.factsAndFigures" :color="$page.data.color" :title="$page.data.factsAndFiguresTitel" />
    <div v-for="(block, index) in $page.data.blocks" class="block" :class="[ block.template, { 'negative-margin': block.negativeMargin } ]" :key="index">
      <FlavourSeparator
        v-if="block.template === 'separator'"
        :alt="block.alt"
        :color="block.color || $page.data.color"
        :content="block.text"
        :dark="block.dark"
        :faded="block.faded"
        :negativeMargin="block.negativeMargin"
        :src="block.image"
        :title="block.title"
      />
      <section v-if="block.template === 'text'" class="text-block not-fullwidth">
        <h2 v-if="block.title">{{block.title}}</h2>
        <p v-if="block.text" v-html="block.text" />
      </section>
      <section v-if="block.template === 'gallery'" class="gallery-block not-fullwidth">
        <div v-for="(image, index) in block.images" class="image-wrapper" :key="index">
          <g-image :alt="image.alt || `Galleriebild ${index + 1}`" :src="image.src" :title="image.title" />
        </div>
      </section>
      <section v-if="block.template === 'image'" class="image-block not-fullwidth">
        <g-image :alt="block.alt" :class="{ dark: $page.data.dark }" :src="block.src || ''" />
      </section>
      <FlavourQuote
        v-if="block.template === 'quote'"
        :client="block.client"
        :color="$page.data.color"
        :name="block.name"
        :quote="block.text"
        :src="block.src"
      />
      <FlavourTextAndImage
        v-if="block.template === 'text-and-image'"
        :alt="block.alt"
        :image-first="block.imageFirst"
        image-focus
        :src="block.image || ''"
      >
        <article>
          <h3>{{block.title}}</h3>
          <p>{{block.text}}</p>
        </article>
      </FlavourTextAndImage>
    </div>
    <section v-if="$page.data.weitereStories && $page.data.weitereStories.length > 0" class="related-stories">
      <h2 class="show-overline">Weitere Stories</h2>
      <div class="card-wrapper">
        <FlavourCard
          v-for="story in $page.data.weitereStories"
          :border-color="$page.data.fallbackColor"
          :color="story.fallbackColor"
          :href="story.path"
          :image="{ alt: story.title, src: story.cardImage }"
          :key="story.id"
          size="large"
          :title="story.title"
        />
      </div>
    </section>
  </main>
</template>

<script>
import generateMetaTags from '@/assets/js/generateMetaTags';
import generateCanonicalLinks from '@/assets/js/generateCanonicalLinks';

export default {
  created() {
    this.$root.pageColor = (this.$page && this.$page.data.fallbackColor) || 'plum';
    this.$root.pageDark = (this.$page && this.$page.data.dark) || false;
  },
  metaInfo() {
    const defaultTitle = (this.$page && this.$page.data.title) || 'Unbetitelt';
    const seoCopy = (this.$page && this.$page.data.seo) ? { ...this.$page.data.seo } : {};

    if (!seoCopy.image && this.$page && this.$page.data) seoCopy.image = this.$page.data.socialMediaImage;

    const metaTags = generateMetaTags(seoCopy, this.$route.path, defaultTitle);

    const link = generateCanonicalLinks(this.$page.data.seo.canonicalUrl, this.$route.path);

    const meta = {
      link,
      meta: metaTags,
      title: defaultTitle,
    };

    if (this.$page && this.$page.data.dark) meta.bodyAttrs = { class: 'dark' };

    return meta;
  },
  updated() {
    this.$root.pageColor = (this.$page && this.$page.data.fallbackColor) || 'plum';
    this.$root.pageDark = (this.$page && this.$page.data.dark) || false;
  },
};
</script>

<page-query>
query ($id: ID!) {
  data: story(id: $id) {
    color,
    fallbackColor,
    logo,
    image,
    socialMediaImage: image(width: 1200, height: 630),
    title,
    zusammenfassungTitel,
    zusammenfassung,
    factsAndFiguresTitel,
    factsAndFigures {
      icon,
      number,
      title,
      content,
    },
    blocks {
      alt,
      client,
      color,
      dark,
      faded,
      image(quality: 90),
      images {
        src(quality: 90),
        alt,
        title
      },
      imageFirst,
      name,
      negativeMargin,
      src(quality: 90),
      template,
      text,
      title,
    },
    weitereStories {
      id,
      logo,
      path,
      cardImage(width: 128, height: 128),
      title,
      color,
    },
    seo {
      title,
      description,
      image(width: 1200, height: 630),
      imageAlt,
      cardStyle,
      keywords,
      canonicalUrl,
      noindex
    }
  }
}
</page-query>

<style lang="stylus" scoped>
@require '../assets/styles/breakpoints'

.story-detail
  overflow: hidden

  .story-card
    margin-bottom: 12.5rem

    @media $mobile
      margin-bottom: 0

  .summary
    margin-bottom: 12.5rem

    @media $mobile
      margin-bottom: 8rem

    p
      text-align: center

  .block.separator.negative-margin + .block
    position: relative
    z-index: 1

  .facts-and-figures + .block:not(.separator):not(.quote) // make sure non-separator / quote blocks are properly spaced
    margin-top: 12.5rem

    @media $mobile
      margin-top: 8rem

  .block.separator:not(.negative-margin) + .block.separator, // fuse adjacent separators and quotes together
  .block.separator:not(.negative-margin) + .block.quote,
  .block.quote:not(.negative-margin) + .block.separator,
  .block.quote:not(.negative-margin) + .block.quote
      margin-top: -12.5rem

      @media $mobile
        margin-top: -8rem

  .block:not(.negative-margin):not(:last-child)
    margin-bottom: 12.5rem

    @media $mobile
      margin-bottom: 8rem

  .text-block
    text-align: center

    h2
      max-width: 39rem
      margin-left: auto
      margin-right: auto

    p
      margin-left: auto
      margin-right: auto

  .gallery-block
    display: flex
    flex-wrap: wrap
    align-items: stretch

    .image-wrapper
      width: calc(50% - 1.5rem)
      margin-bottom: 3rem
      border-radius: 2px
      overflow: hidden

      @media $mobile
        width: 100%
        margin-bottom: 1rem

      &:nth-child(even)
        margin-right: 3rem

        @media $mobile
          margin-right: 0

      &:first-child
        width: 100%

      img
        height: 100%
        object-fit: cover

  .image-block
    img
      margin: 0 auto
      border-radius: 2px

  .block.text-and-image > .text-and-image
    margin-top: 0
    margin-bottom: 0

  .related-stories
    margin-bottom: 12.5rem
    margin-top: @margin-bottom

    @media $mobile
      padding: 0 2rem
      margin-bottom: 8rem
      margin-top: @margin-bottom
</style>
