<template lang="html">
  <main class="text-page">
    <FlavourHero :blurb="$page.data.einleserHTML" :overline="$page.data.overline" :title="$page.data.titel" />
    <article class="content" v-html="$page.data.content" />
  </main>
</template>

<script>
export default {
  created() {
    this.$root.pageColor = (this.$page && this.$page.data.color) || 'plum';
    this.$root.pageDark = (this.$page && this.$page.data.dark) || false;
  },
  metaInfo() {
    const meta = {
      title: (this.$page && this.$page.data.titel) || 'Unbetitelt',
    };

    if (this.$page && this.$page.data.dark) meta.bodyAttrs = { class: 'dark' };

    return meta;
  },
};
</script>

<page-query>
query ($id: ID!) {
  data: textPage(id: $id) {
    color,
    dark,
    overline,
    titel,
    einleserHTML,
    content
  }
}
</page-query>

<style lang="stylus">
@require '../assets/styles/breakpoints'

.text-page
  overflow: hidden

  .hero
    margin-bottom: 8rem

    @media $mobile
      margin-bottom: 4rem

  .content
    max-width: 39rem
    margin: 0 auto
    padding-bottom: 12.5rem

    @media $mobile
      padding: 0 2rem 8rem 2rem

    h2, h3, h4
      text-align: left
</style>
