<template lang="html">
  <main class="topic">
    <FlavourHero :blurb="$page.data.einleserHTML" :overline="$page.data.titel" :title="$page.data.h1" />
    <section class="summary">
      <g-image :alt="$page.data.heroAlt" :src="$page.data.heroBild" />
      <div class="card-wrapper">
        <div class="card">
          <h4>Was?</h4>
          <p>{{$page.data.was}}</p>
        </div>
        <div class="card">
          <h4>Warum?</h4>
          <p>{{$page.data.warum}}</p>
        </div>
        <div class="card">
          <h4>Wie?</h4>
          <p>{{$page.data.wie}}</p>
        </div>
      </div>
    </section>
    <FlavourQuote v-if="$page.data.zitat" :client="$page.data.zitatKunde" :color="`${$page.data.color}Gradient`" :name="$page.data.zitatName" :quote="$page.data.zitat" :src="$page.data.zitatBild" />
    <section v-if="$page.data.projekte.length > 0" class="related-projects">
      <h2 class="show-overline">{{$page.data.projekteTitel}}</h2>
      <!-- Maybe insert an assigned fruit through a fruit GraphQL property -->
    </section>
    <FlavourProjectCard
      v-for="(project, index) in $page.data.projekte"
      :color-one="project.colorOne"
      :color-two="project.colorTwo"
      :dark="project.dark"
      :image-first="index % 2 === 0"
      :key="project.id"
      :logo="project.logo"
      :path="project.path"
      :src="project.image || ''"
      :title="project.title"
      :type="project.type"
    />
    <section v-if="relatedTopics.length > 0" class="recovery not-fullwidth">
      <h2 class="show-overline">{{$page.data.recoveryTitel}}</h2>
      <div class="card-wrapper">
        <FlavourCard v-for="(topic, index) in relatedTopics" :border-color="$page.data.color" :color="topic.color" :href="topic.path" :image="{ src: topic.heroBild, alt: topic.heroAlt }" :key="index" :size="cardSize" :text="$root.mobile ? '' : topic.einleserHTML" :title="topic.titel" />
      </div>
    </section>
  </main>
</template>

<script>
import generateMetaTags from '@/assets/js/generateMetaTags';
import generateCanonicalLinks from '@/assets/js/generateCanonicalLinks';

export default {
  computed: {
    cardSize() {
      const { length } = this.relatedTopics;
      if (length === 1 || length === 2 || length === 4) return 'large';
      return 'normal';
    },
    relatedTopics() {
      const topics = this.$page.topics.edges.map((edge) => edge.node);
      return topics.filter((topic) => topic.id !== this.$page.data.id && topic.bereiche.includes(this.$page.data.bereiche[0]));
    },
  },
  created() {
    this.$root.pageColor = (this.$page && this.$page.data.color) || 'plum';
    this.$root.pageDark = (this.$page && this.$page.data.dark) || false;
  },
  metaInfo() {
    const defaultTitle = (this.$page && this.$page.data.titel) || 'Unbetitelt';
    const seoCopy = (this.$page && this.$page.data.seo) ? { ...this.$page.data.seo } : {};

    if (!seoCopy.image && this.$page && this.$page.data) seoCopy.image = this.$page.data.socialMediaImage;

    const metaTags = generateMetaTags(seoCopy, this.$route.path, defaultTitle);

    const link = generateCanonicalLinks(this.$page.data.seo.canonicalUrl, this.$route.path);

    const meta = {
      link,
      meta: metaTags,
      title: defaultTitle,
    };

    if (this.$page && this.$page.data.dark) meta.bodyAttrs = { class: 'dark' };

    return meta;
  },
  updated() {
    this.$root.pageColor = (this.$page && this.$page.data.color) || 'plum';
    this.$root.pageDark = (this.$page && this.$page.data.dark) || false;
  },
};
</script>

<page-query>
query ($id: ID!) {
  data: topic(id: $id) {
    id,
    color,
    dark,
    bereiche,
    h1,
    titel,
    einleserHTML,
    heroBild(width: 1296, height: 640),
    socialMediaImage: heroBild(width: 1200, height: 630),
    was,
    warum,
    wie,
    zitatName,
    zitatKunde,
    zitatBild,
    zitat,
    projekteTitel,
    projekte {
      colorOne,
      colorTwo,
      dark,
      id,
      logo,
      path,
      type,
      image,
      title,
    },
    recoveryTitel,
    seo {
      title,
      description,
      image(width: 1200, height: 630),
      imageAlt,
      cardStyle,
      keywords,
      canonicalUrl,
      noindex,
    }
  },
  topics: allTopic {
    edges {
      node {
        id,
        path,
        heroBild(width: 128, height: 128),
        color,
        heroAlt,
        titel,
        einleserHTML,
        bereiche,
      }
    }
  }
}
</page-query>

<style lang="stylus" scoped>
@require '../assets/styles/breakpoints'
@require '../assets/styles/colors'

.topic
  overflow: hidden

  .hero
    margin-bottom: 8rem

    @media $mobile
      margin-bottom: 4rem

  .summary
    padding-bottom: 12.5rem

    @media $mobile
      padding-bottom: 4rem

    > img,
    > noscript >>> img
      max-width: 81rem
      width: 100%
      margin: 0 auto

    .card-wrapper
      flex-wrap: nowrap
      margin: 0 auto
      margin-top: 3rem
      max-width: 81rem

      @media $desktopSmall
        padding: 0 2rem

      @media only screen and (max-width: 56rem)
        display: block
        margin: 0
        margin-top: 2rem

      .card
        width: 100%
        background-color: $bgGrey
        padding: 2rem

        &:not(:last-child)
          margin-right: 3rem

        @media only screen and (max-width: 56rem)
          margin: 0
          margin-bottom: 2rem
          padding: 0
          background-color: transparent

        h4
          margin: 0 auto 2rem auto
          text-align: left
          max-width: 39rem

          @media only screen and (max-width: 56rem)
            margin-bottom: 1rem

        p
          margin-bottom: 0

  .quote
    margin-bottom: 12.5rem

    @media $mobile
      margin-bottom: 8rem

  .related-projects
    margin-bottom: 8rem

    @media $mobile
      margin-bottom: 4rem

  .recovery
    margin-top: 12.5rem
    padding-bottom: 12.5rem

    @media $mobile
      margin-top: 8rem
      padding-bottom: 4rem
</style>
