<template lang="html">
  <main class="not-found" :class="{ dark: pageDark }">
    <FlavourHero :blurb="blurb" :overline="overline" :title="title" />
    <FlavourButton :color="pageColor" :dark="pageDark" href="/" icon="chevron-left" icon-first type="g-link">{{ homeButton }}</FlavourButton>
  </main>
</template>

<script>
export default {
  computed: {
    blurb() {
      return (this.$static && this.$static.data && this.$static.data.einleserHTML) || 'Es tut uns sehr leid.';
    },
    homeButton() {
      return (this.$static && this.$static.data && this.$static.data.homeButton) || 'Zur Startseite';
    },
    overline() {
      return (this.$static && this.$static.data && this.$static.data.titel) || '404';
    },
    pageColor() {
      if (process.isServer) return 'plum';
      return this.$root.pageColor;
    },
    pageDark() {
      if (process.isServer) return false;
      return this.$root.pageDark;
    },
    title() {
      return (this.$static && this.$static.data && this.$static.data.h1) || 'Ein Fehler ist aufgetreten';
    },
  },
  metaInfo() {
    const meta = {
      title: (this.$static && this.$static.data && this.$static.data.titel) || '404',
    };

    if (this.pageDark) meta.bodyAttrs = { class: 'dark' };

    return meta;
  },
  mounted() {
    window.plausible('404', { props: { path: document.location.pathname } });
  },
};
</script>

<static-query>
query {
  data: pageContent(id: "404") {
    h1,
    titel,
    einleserHTML,
    homeButton,
  }
}
</static-query>

<style lang="stylus" scoped>
@require '../assets/styles/breakpoints'

.not-found
  overflow: hidden
  text-align: center
  padding-bottom: 12.5rem

  @media $mobile
    padding-bottom: 8rem

  .hero
    margin-bottom: 4rem

</style>
