<template>
  <main class="home">
    <section class="hero dark">
      <h1>{{$page.data.titel}}</h1>
      <!-- <FlavourButton :color="$page.data.color" dark icon="play" @click="toggleVideoOverlay">{{$page.data.showreelButton}}</FlavourButton> -->
      <FlavourFruit fruit="strawberry" />
    </section>
    <FlavourTextAndImage alt="Team bei der Arbeit" background class="intro-block" image-first :src="$page.data.aboutBild">
      <h2>{{$page.data.aboutTitel}}</h2>
      <p>{{$page.data.about}}</p>
    </FlavourTextAndImage>
    <section class="competences not-fullwidth">
      <h2 class="show-overline">{{$page.data.kompetenzenTitel}}</h2>
      <div class="card-wrapper">
        <FlavourCard :border-color="$page.data.color" color="sky" href="/kliniken-und-soziales/" :image="{ src: $page.data.healthcareBild, alt: 'Platzhalter Alt Text' }" size="large" :text="$page.data.healthcare" :title="$page.data.healthcareTitel" />
        <FlavourCard :border-color="$page.data.color" color="leaf" href="/hightech/" :image="{ src: $page.data.hightechBild, alt: 'Platzhalter Alt Text' }" size="large" :text="$page.data.hightech" :title="$page.data.hightechTitel" />
      </div>
    </section>
    <section class="projects-heading">
      <h2 class="show-overline">{{$page.data.projekteTitel}}</h2>
      <FlavourFruit fruit="apple" />
    </section>
    <component
      v-for="(element, index) in mixedStoriesAndProjects"
      :color="element.color"
      :color-one="element.colorOne"
      :color-two="element.colorTwo"
      :dark="element.dark"
      :image-first="index % 2 === 0"
      :is="typeof element.colorOne !== 'undefined' ? 'FlavourProjectCard' : 'FlavourStoryCard'"
      :key="typeof element.colorOne !== 'undefined' ? `project-${element.id}` : `story-${element.id}`"
      :logo="element.logo"
      :path="element.path"
      :src="element.image || ''"
      :title="element.title"
      :type="element.type"
    />
    <section class="more-projects not-fullwidth">
      <FlavourFruit fruit="chilli" />
      <div class="card-wrapper">
        <FlavourCard :border-color="$page.data.color" color="orange" href="/projekte/" size="large" :text="$page.data.mehrProjekte" :title="$page.data.mehrProjekteTitel" />
      </div>
    </section>
    <FlavourTextAndImage alt="Team bei der Arbeit" background class="team-block" image-first :src="$page.data.teamBild">
      <h2>{{$page.data.teamTitel}}</h2>
      <p>{{$page.data.team}}</p>
      <FlavourButton color="leafDark" href="/team/" type="g-link">{{$page.data.teamButton}}</FlavourButton>
    </FlavourTextAndImage>
    <FlavourTextAndImage alt="Team bei der Arbeit" background class="career-block" dark :src="$page.data.karriereBild">
      <h2>{{$page.data.karriereTitel}}</h2>
      <p>{{$page.data.karriere}}</p>
      <FlavourButton color="leafDark" dark href="/team/#karriere" type="g-link">{{$page.data.karriereButton}}</FlavourButton>
    </FlavourTextAndImage>
    <FlavourSeparator color="text" :content="$page.data.miabText" :cta="$page.data.miabCTA" dark :src="$page.data.miabBild" :title="$page.data.miabTitel" />
    <!-- <transition>
      <div v-if="showVideoOverlay" class="reel-modal" @click.self="toggleVideoOverlay">
        <div class="video-wrapper">
          <FlavourButton :color="$page.data.color" dark icon="cross" no-label @click="toggleVideoOverlay" />
          <YoutubeEmbed :button-color="$page.data.color" :id="$page.data.showreelVideoId" :thumbnail="$page.data.showreelVideoThumbnail" />
        </div>
      </div>
    </transition> -->
  </main>
</template>

<script>
import generateMetaTags from '@/assets/js/generateMetaTags';
import generateCanonicalLinks from '@/assets/js/generateCanonicalLinks';

import YoutubeEmbed from '@/components/YoutubeEmbed.vue';

export default {
  components: {
    YoutubeEmbed,
  },
  computed: {
    mixedStoriesAndProjects() {
      const projects = this.$page.data.projekte;
      const { stories } = this.$page.data;
      const mix = [];
      const minLength = Math.min(projects.length, stories.length);

      for (let i = 0; i < minLength; i += 1) {
        mix.push(projects[i], stories[i]);
      }

      mix.push(...projects.slice(minLength), ...stories.slice(minLength));

      return mix;
    },
  },
  created() {
    this.$root.pageColor = this.$page.data.color;
    this.$root.pageDark = this.$page.data.dark;
  },
  data() {
    return {
      showVideoOverlay: false,
    };
  },
  metaInfo() {
    const defaultTitle = 'Agentur';
    const meta = generateMetaTags(this.$page.data.seo, this.$route.path, defaultTitle);
    const link = generateCanonicalLinks(this.$page.data.seo.canonicalUrl, this.$route.path);

    return {
      bodyAttrs: {
        class: 'dark',
      },
      link,
      meta,
      title: this.$page.data.seo.title || defaultTitle,
    };
  },
  methods: {
    toggleVideoOverlay() {
      if (this.showVideoOverlay) {
        this.showVideoOverlay = false;
        this.$emit('release-scroll');
      } else {
        this.showVideoOverlay = true;
        this.$emit('lock-scroll');
      }
    },
  },
};
</script>

<page-query>
query {
  data: pageContent(id: "home") {
    color,
    dark,
    titel,
    showreelButton,
    aboutTitel,
    aboutBild,
    about,
    kompetenzenTitel,
    healthcareBild(width: 128, height: 128),
    healthcareTitel,
    healthcare,
    hightechBild(width: 128, height: 128),
    hightechTitel,
    hightech,
    projekteTitel,
    projekte {
      colorOne,
      colorTwo,
      dark,
      id,
      logo,
      path,
      type,
      image,
      title,
    },
    stories {
      color,
      id,
      logo,
      path,
      image(height: 800),
      title,
    },
    mehrProjekteTitel,
    mehrProjekte,
    teamTitel,
    teamBild,
    team,
    teamButton,
    karriereTitel,
    karriereBild,
    karriere,
    karriereButton,
    showreelVideoId,
    showreelVideoThumbnail,
    miabBild,
    miabTitel,
    miabText,
    miabCTA {
      color,
      label,
      target,
    },
    seo {
      title,
      description,
      image(width: 1200, height: 630),
      imageAlt,
      cardStyle,
      keywords,
      canonicalUrl,
      noindex
    }
  }
}
</page-query>

<style lang="stylus" scoped>
@require '../assets/styles/breakpoints'
@require '../assets/styles/colors'

.home
  overflow: hidden

  .hero
    padding: 8rem 2rem 20rem 2rem
    text-align: center
    margin-bottom: -4rem
    position: relative

    @media $mobile
      padding: 4rem 2rem 8rem 2rem
      margin-bottom: 0

    > h1
      max-width: 81rem
      margin-left: auto
      margin-right: auto

      @media $mobile
        margin-top: 0
        font-size: 2.5rem

    > .fruit
      position: absolute
      width: 1868px
      top: 2rem;
      left: 38vw;
      transform: rotate(58deg) scaleX(-1)

      @media $desktopSmall
        left: 20vw
        top: 12rem
        transform: rotate(15deg) scaleY(-1)

      @media $mobile
        left: 0rem
        top: 14rem
        width: 640px
        transform: rotate(15deg) scaleY(-1)

  .intro-block
    margin-top: 0
    margin-bottom: 25rem

    @media $mobile
      margin-bottom: 8rem

  .competences
    margin-bottom: 12.5rem

    @media $mobile
      margin-bottom: 8rem

    h2
      margin-bottom: 8rem

      @media $mobile
        margin-bottom: 4rem

  .projects-heading
    position: relative
    overflow: hidden
    padding-top: 12.5rem
    padding-bottom: 8rem

    @media $mobile
      padding-top: 0
      padding-bottom: 4rem
      height: auto

      > .fruit
        display: none

    > h2
      margin-top: 0
      margin-bottom: 0

    > .fruit
      position: absolute
      width: 743px
      bottom: -12rem
      right: 60vw
      transform: rotate(-5deg) scaleX(-1)

  .more-projects
    position: relative
    padding-top: 12.5rem
    padding-bottom: @padding-top

    @media $mobile
      padding-bottom: 8rem

    > .fruit
      position: absolute
      width: 44vw
      left: 30vw
      top: 2rem
      transform: rotate(-7deg) scaleX(-1)

      @media $mobile
        top: 4rem

  .team-block,
  .career-block
    margin-top: 0
    margin-bottom: 12.5rem

    @media $mobile
      margin-bottom: 0

  .reel-modal
    position: fixed
    top: 0
    left: 0
    right: 0
    bottom: 0
    z-index: 9
    display: flex
    align-items: center
    justify-content: center
    background-color: alpha($text, 0.95)

    &.v-enter-active,
    &.v-leave-active
      transition: opacity 200ms ease

      .video-wrapper
        transition: transform 200ms ease

        // fix the jumping around of the close button
        @media only screen and (max-width: 90rem)
          > .button
            display: none

      &.v-enter,
      &.v-leave-to
        opacity: 0

        .video-wrapper
          transform: scale(1.1)

    &.v-leave-active
      transition-delay: 100ms

    .video-wrapper
      width: 100%
      max-width: 80rem
      background-color: $text
      position: relative

      .youtube-wrapper
        border-radius: 2px

      .button
        position: absolute
        right: -5rem
        top: -5rem

        @media only screen and (max-width: 90rem)
          position: fixed
          top: 1rem
          right: 1rem

        >>> .ink
          transform: scale(0)
          transition: transform 200ms cubic-bezier(0.64, 0.57, 0.67, 1.53)

        &:hover >>> .ink
          transform: none

</style>
