<template lang="html">
  <main class="healthcare">
    <FlavourHero :blurb="$page.data.einleserHTML" :overline="$page.data.titel" :title="$page.data.h1" />
    <FlavourFruit fruit="grapes" />
    <section class="topics">
      <h2 class="show-overline">{{ $page.data.themenTitel }}</h2>
      <div class="card-wrapper">
        <FlavourCard v-for="(topic, index) in topics" :border-color="$page.data.color" :color="topic.color" :href="topic.path" :image="{ src: topic.heroBild, alt: topic.heroAlt }" :key="index" :size="cardSize" :text="$root.mobile ? '' : topic.einleserHTML" :title="topic.titel" />
      </div>
    </section>
    <FlavourVideo :color="$page.data.color" full-width :video-id="$page.data.videoId" :video-thumbnail="$page.data.videoThumbnail">
      <div class="video-content">
        <h2>{{$page.data.videoTitel}}</h2>
        <div class="two-column-text">
          <p v-html="$page.data.warumHTML" />
          <p v-html="$page.data.wasHTML" />
        </div>
      </div>
    </FlavourVideo>
    <!-- <FlavourQuote :client="$page.data.zitatKunde" color="plumGradient" :name="$page.data.zitatName" :quote="$page.data.zitat" :src="$page.data.zitatBild" /> -->
    <section class="customers not-fullwidth">
      <h2 class="show-overline">{{$page.data.kundenTitel}}</h2>
      <div class="logo-wrapper">
        <FlavourClientLogo v-for="client in $page.data.kunden" :key="client" :logo="client" />
      </div>
    </section>
    <FlavourStoryCard
      v-for="(story, index) in $page.data.stories"
      :color="story.color"
      :image-first="index % 2 === 0"
      :key="story.id"
      :logo="story.logo"
      :path="story.path"
      :src="story.image || ''"
      :title="story.title"
    />
    <section class="unsure not-fullwidth">
      <!-- <FlavourFruit fruit="plum" /> -->
      <div class="card-wrapper">
        <FlavourCard :border-color="$page.data.color" color="plum" href="/kontakt/" size="large" :text="$page.data.nochUnsicher" :title="$page.data.nochUnsicherTitel" />
      </div>
    </section>
    <FlavourTextAndImage v-if="$page.data.gatedAsset" alt="Team bei der Arbeit" background class="gated-content-block" image-first image-focus :src="$page.data.gatedContentBild">
      <h2>{{$page.data.gatedContentTitel}}</h2>
      <p>{{$page.data.gatedContent}}</p>
      <FlavourInput v-model="email" :color="$page.data.color" :error="emailError" icon="mail" label="E-Mail Adresse" required type="email" @blur="validateEmail" @focus="emailError = ''" />
      <FlavourCheckbox v-model="emailConsent" :color="$page.data.color">
        Ich stimme der Speicherung und Verarbeitung meiner E-Mail Adresse zu.
        <g-link to="/datenschutz/">Mehr Informationen</g-link>
      </FlavourCheckbox>
      <FlavourButton :color="$page.data.color" :disabled="!emailConsent || Boolean(emailError)" @click="submitForm">{{$page.data.gatedContentButton}}</FlavourButton>
    </FlavourTextAndImage>
  </main>
</template>

<script>
import generateMetaTags from '@/assets/js/generateMetaTags';
import generateCanonicalLinks from '@/assets/js/generateCanonicalLinks';

export default {
  computed: {
    cardSize() {
      const { length } = this.topics;
      if (length === 1 || length === 2 || length === 4) return 'large';
      return 'normal';
    },
    topics() {
      return this.$page.topics.edges.filter((edge) => edge.node.bereiche.includes('kliniken-und-soziales')).map((edge) => edge.node);
    },
  },
  created() {
    this.$root.pageColor = this.$page.data.color;
    this.$root.pageDark = this.$page.data.dark;
  },
  data() {
    return {
      email: '',
      emailConsent: false,
      emailError: '',
    };
  },
  metaInfo() {
    const defaultTitle = this.$page.data.h1;
    const metaTags = generateMetaTags(this.$page.data.seo, this.$route.path, defaultTitle);
    const link = generateCanonicalLinks(this.$page.data.seo.canonicalUrl, this.$route.path);
    const meta = {
      link,
      meta: metaTags,
      title: this.$page.data.seo.title || defaultTitle,
    };

    if (this.$page.data.dark) meta.bodyAttrs = { class: 'dark' };

    return meta;
  },
  methods: {
    submitForm() {
      this.validateEmail();

      if (this.emailError) return;

      const xhr = new XMLHttpRequest();
      const { formId } = this.$page.data.gatedAsset;
      const portalId = this.$page.metadata.hubspotPortalId;
      const url = `https://api.hsforms.com/submissions/v3/integration/submit/${portalId}/${formId}`;
      xhr.open('POST', url, true);
      xhr.setRequestHeader('Content-Type', 'application/json');

      xhr.onreadystatechange = () => {
        if (xhr.readyState !== 4) return;

        if (xhr.status === 200) this.$router.push({ path: this.$page.data.gatedAsset.path, query: { email: this.email } });
        if (xhr.status === 400 || xhr.status === 403 || xhr.status === 404) {
          const { errors } = JSON.parse(xhr.responseText);
          if (Array.isArray(errors) && errors[0]) {
            if (errors[0].errorType === 'INVALID_EMAIL') this.emailError = 'Diese E-Mail-Adresse ist ungültig';
            else this.emailError = errors[0].message;
          } else this.emailError = 'Es tut uns Leid, etwas ist schiefgegangen';
        }
      };

      xhr.send(JSON.stringify({
        submittedAt: Date.now(),
        fields: [
          {
            name: 'email',
            value: this.email,
          },
        ],
        context: {
          pageUri: this.$route.fullPath,
          pageName: this.$page.data.h1,
        },
      }));
    },
    validateEmail() {
      let error = '';
      if (!/^(([^<>()[\].,;:\s@"]+(\.[^<>()[\].,;:\s@"]+)*)|(".+"))@(([^<>()[\].,;:\s@"]+\.)+[^<>()[\].,;:\s@"]{2,})$/i.test(this.email)) error = 'Diese E-Mail-Adresse ist ungültig';
      if (!this.email) error = 'Dieses Feld darf nicht leer sein';
      this.emailError = error;
    },
  },
};
</script>

<page-query>
query {
  data: pageContent(id: "healthcare") {
    id,
    color,
    dark,
    h1,
    titel,
    einleserHTML,
    themenTitel,
    videoId,
    videoThumbnail,
    videoTitel,
    warumHTML,
    wasHTML,
    zitatKunde,
    zitatName,
    zitat,
    zitatBild,
    kundenTitel,
    kunden,
    stories {
      color,
      id,
      logo,
      path,
      image(height: 800),
      title,
    },
    nochUnsicherTitel,
    nochUnsicher,
    gatedAsset {
      formId,
      path
    },
    gatedContentBild,
    gatedContentTitel,
    gatedContent,
    gatedContentButton,
    seo {
      title,
      description,
      image(width: 1200, height: 630),
      imageAlt,
      cardStyle,
      keywords,
      canonicalUrl,
      noindex,
    }
  },
  metadata {
    hubspotPortalId,
  },
  topics: allTopic {
    edges {
      node {
        id,
        path,
        heroBild(width: 128, height: 128),
        color,
        heroAlt,
        titel,
        einleserHTML,
        bereiche,
      }
    }
  }
}
</page-query>

<style lang="stylus" scoped>
@require '../assets/styles/breakpoints'
@require '../assets/styles/colors'

.healthcare
  overflow: hidden
  position: relative

  .fruit
    position: absolute
    width: 784px
    height: @width
    left: 1187px
    top: 187px
    transform: rotate(-9.77deg)

    @media $desktopLarge
      right: (1920 - (1187 + 784))px
      left: auto

  .topics
    padding: 12.5rem 0
    background-color: $bgGrey
    margin-bottom: 12.5rem

    @media only screen and (min-width: 84rem)
      .card-wrapper
        max-width: 84rem
        margin: 0 auto

    @media $mobile
      padding: 8rem 2rem
      margin-bottom: 0

    h2
      margin-top: 0

  .video
    margin-bottom: 12.5rem

    @media $mobile
      margin-top: 0
      margin-bottom: 0

    .video-content
      .two-column-text
        display: flex

        @media $mobile
          display: block
          padding-bottom: 1rem

        p
          width: 100%

          &:first-child
            margin-right: 3rem

            @media $mobile
              margin-right: 0

  .quote,
  .customers,
  .gated-content-block
    margin-bottom: 12.5rem

    @media $mobile
      margin-bottom: 8rem

  .unsure
    margin-top: 12.5rem
    margin-bottom: @margin-top

    @media $mobile
      margin-top: 8rem
      margin-bottom: @margin-top

  .gated-content-block
    margin-top: 0

    @media $mobile
      margin-bottom: 0

    p
      margin-bottom: 2rem

    .input
      width: 100%
      margin-right: 3rem
      margin-bottom: 1.5rem
      margin-top: 0.375rem

    .checkbox
      margin-bottom: 1rem
</style>
