<template lang="html">
  <main class="competences">
    <FlavourHero :blurb="$page.data.einleserHTML" :overline="$page.data.titel" :title="$page.data.h1" />
    <FlavourFruit fruit="lemon" />
    <FlavourTextAndImage alt="Ärtzte bei der Besprechung" background class="healthcare-block" image-first :src="$page.data.healthcareBild">
      <h2>{{$page.data.healthcareTitel}}</h2>
      <p>{{$page.data.healthcareText}}</p>
      <FlavourButton color="sky" href="/kliniken-und-soziales/" type="g-link">Mehr Erfahren</FlavourButton>
    </FlavourTextAndImage>
    <FlavourTextAndImage alt="Viel viel Technologie" background class="hightech-block" dark :src="$page.data.hightechBild">
      <h2>{{$page.data.hightechTitel}}</h2>
      <p>{{$page.data.hightechText}}</p>
      <FlavourButton color="leaf" dark href="/hightech/" type="g-link">Mehr Erfahren</FlavourButton>
    </FlavourTextAndImage>
    <section class="services dark">
      <h2 class="show-overline">{{$page.data.leistungenTitel}}</h2>
      <div class="card-wrapper">
        <div v-for="leistung in $page.data.leistungen" class="column" :key="leistung.titel">
          <h3>{{leistung.titel}}</h3>
          <ul>
            <li v-for="service in leistung.leistungen" :key="service">{{service}}</li>
          </ul>
        </div>
      </div>
    </section>
  </main>
</template>

<script>
import generateMetaTags from '@/assets/js/generateMetaTags';
import generateCanonicalLinks from '@/assets/js/generateCanonicalLinks';

export default {
  created() {
    this.$root.pageColor = this.$page.data.color;
    this.$root.pageDark = this.$page.data.dark;
  },
  metaInfo() {
    const defaultTitle = this.$page.data.titel;
    const metaTags = generateMetaTags(this.$page.data.seo, this.$route.path, defaultTitle);
    const link = generateCanonicalLinks(this.$page.data.seo.canonicalUrl, this.$route.path);
    const meta = {
      link,
      meta: metaTags,
      title: this.$page.data.seo.title || defaultTitle,
    };

    if (this.$page.data.dark) meta.bodyAttrs = { class: 'dark' };

    return meta;
  },
};
</script>

<page-query>
query {
  data: pageContent(id: "competences") {
    color,
    dark,
    h1,
    titel,
    healthcareBild,
    hightechBild,
    einleserHTML,
    healthcareTitel,
    healthcareText,
    hightechTitel,
    hightechText,
    leistungenTitel,
    leistungen {
      titel,
      leistungen
    },
    seo {
      title,
      description,
      image(width: 1200, height: 630),
      imageAlt,
      cardStyle,
      keywords,
      canonicalUrl,
      noindex,
    }
  }
}
</page-query>

<style lang="stylus" scoped>
@require '../assets/styles/breakpoints'
@require '../assets/styles/colors'

.competences
  overflow: hidden
  position: relative

  .fruit
    position: absolute
    width: 875px
    right: -100px
    top: 425px

    @media $desktopSmall
      width: 600px
      top: 525px

    @media only screen and (max-width: 56rem)
      top: 640px

    @media $mobile
      // left: 0
      right: -300px
      top: 480px

  .healthcare-block,
  .hightech-block
    margin-top: 0
    margin-bottom: 12.5rem

    @media $mobile
      margin-bottom: 0

  .services
    padding: 12.5rem 0

    @media $mobile
      padding: 8rem 2rem
      background-color: $bg
      color: $text

    h2
      margin-top: 0

    .card-wrapper
      margin: 0

      @media only screen and (min-width: 63rem) and (max-width: 84rem)
        max-width: 64rem
        margin: 0 auto
        justify-content: flex-start

      @media $mobile
        margin: 0 -1.5rem

    .column
      width: 18rem
      margin: 1.5rem

      h3
        text-align: left
        margin-bottom: 2rem

        @media $mobile
          margin-top: 0

      ul
        margin: 0

</style>
