<template lang="html">
  <main class="contact">
    <FlavourHero :blurb="$page.data.einleserHTML" :overline="$page.data.titel" :title="$page.data.h1" />
    <FlavourTextAndImage alt="Freundlich lächelnde Person beim Annehmen eines Anrufs" class="contact-block" :src="$page.data.kontaktBild">
      <h2>{{$page.data.kontaktTitel}}</h2>
      <p>{{$page.data.kontakt}}</p>
      <p class="electronic">E-Mail: <a :href="`mailto:${$page.metadata.email}`">{{ $page.metadata.email }}</a></p>
      <p>Telefonisch: <a :href="`tel:${$page.metadata.phone.replace(/\(0\)|\s+/g, '')}`">{{ $page.metadata.phone }}</a></p>
      <p>
        Postadresse:<br>
        <span>{{$page.metadata.mailAddress.name}}</span><br>
        <span>{{$page.metadata.mailAddress.street}}</span><br>
        <span>{{$page.metadata.mailAddress.city}}</span>
      </p>
    </FlavourTextAndImage>
  </main>
</template>

<script>
import generateMetaTags from '@/assets/js/generateMetaTags';
import generateCanonicalLinks from '@/assets/js/generateCanonicalLinks';

export default {
  created() {
    this.$root.pageColor = this.$page.data.color;
    this.$root.pageDark = this.$page.data.dark;
  },
  metaInfo() {
    const defaultTitle = this.$page.data.titel;
    const metaTags = generateMetaTags(this.$page.data.seo, this.$route.path, defaultTitle);
    const link = generateCanonicalLinks(this.$page.data.seo.canonicalUrl, this.$route.path);
    const meta = {
      link,
      meta: metaTags,
      title: this.$page.data.seo.title || defaultTitle,
    };

    if (this.$page.data.dark) meta.bodyAttrs = { class: 'dark' };

    return meta;
  },
};
</script>

<page-query>
query {
  data: pageContent(id: "kontakt") {
    id,
    color,
    dark,
    h1,
    titel,
    einleserHTML,
    kontaktBild,
    kontaktTitel,
    kontakt,
    officeBild,
    officeTitel,
    office,
    seo {
      title,
      description,
      image(width: 1200, height: 630),
      imageAlt,
      cardStyle,
      keywords,
      canonicalUrl,
      noindex,
    }
  },
  metadata {
    address {
      street,
      city,
    },
    mailAddress {
      name,
      street,
      city,
    },
    email,
    phone
  }
}
</page-query>

<style lang="stylus" scoped>
@require '../assets/styles/breakpoints'

.contact
  overflow: hidden

  .contact-block,
  .office-block
    margin-bottom: 12.5rem

    @media $mobile
      margin-top: 4rem
      margin-bottom: 4rem

</style>
