<template lang="html">
  <main class="projects">
    <FlavourHero :blurb="$page.data.einleserHTML" :overline="$page.data.titel" :title="$page.data.h1" />
    <FlavourFruit fruit="carrot" />
    <h2 class="projects-heading show-overline">{{$page.data.projekteTitel}}</h2>
    <FlavourProjectCard
      v-for="(project, index) in $page.data.projekte"
      :color-one="project.colorOne"
      :color-two="project.colorTwo"
      :dark="project.dark"
      :image-first="index % 2 === 0"
      :key="project.id"
      :logo="project.logo"
      :path="project.path"
      :src="project.image || ''"
      :title="project.title"
      :type="project.type"
    />
    <section class="customers">
      <h2 class="show-overline">{{$page.data.kundenTitel}}</h2>
      <div class="logo-wrapper">
        <FlavourClientLogo v-for="client in $page.data.kunden" :key="client" :logo="client" />
      </div>
    </section>
    <section class="current-projects dark">
      <h2 class="show-overline">{{$page.data.instagramTitel}}</h2>
      <!-- Embedding the feed is possible, but rather difficult: https://www.revilodesign.de/blog/sonstiges/instagram-beitraege-mit-facebook-api-in-webseite-einbinden/ -->
      <p>{{$page.data.instagramText}}</p>
      <FlavourButton custom-color="#D63086" dark :href="`https://instagram.com/${$page.metadata.socialMedia.instagramHandle}/`" rel="nofollow noopener noreferrer" target="_blank" type="a">Flavour auf Instagram</FlavourButton>
    </section>
  </main>
</template>

<script>
import generateMetaTags from '@/assets/js/generateMetaTags';
import generateCanonicalLinks from '@/assets/js/generateCanonicalLinks';

export default {
  created() {
    this.$root.pageColor = this.$page.data.color;
    this.$root.pageDark = this.$page.data.dark;
  },
  metaInfo() {
    const defaultTitle = this.$page.data.titel;
    const metaTags = generateMetaTags(this.$page.data.seo, this.$route.path, defaultTitle);
    const link = generateCanonicalLinks(this.$page.data.seo.canonicalUrl, this.$route.path);
    const meta = {
      link,
      meta: metaTags,
      title: this.$page.data.seo.title || defaultTitle,
    };

    if (this.$page.data.dark) meta.bodyAttrs = { class: 'dark' };

    return meta;
  },
};
</script>

<page-query>
query {
  data: pageContent(id: "projects") {
    id,
    color,
    dark,
    h1,
    titel,
    einleserHTML,
    projekteTitel,
    projekte {
      colorOne,
      colorTwo,
      dark,
      id,
      logo,
      path,
      type,
      image,
      title,
    },
    kundenTitel,
    kunden,
    instagramTitel,
    instagramText,
    seo {
      title,
      description,
      image(width: 1200, height: 630),
      imageAlt,
      cardStyle,
      keywords,
      canonicalUrl,
      noindex,
    }
  },
  metadata {
    socialMedia {
      instagramHandle
    }
  }
}
</page-query>

<style lang="stylus" scoped>
@require '../assets/styles/breakpoints'

.projects
  overflow: hidden
  position: relative

  .hero
    margin-bottom: 25rem
    position: relative
    z-index: 1

    @media $mobile
      margin-bottom: 12.5rem

  .fruit
    position: absolute
    width: 845px
    top: 19px
    left: 1086px
    transform: scaleY(-1) rotate(-161deg)

    @media $desktopLarge
      left: auto
      right: (1920 - (845 + 1086))px

    @media $desktopSmall
      left: 600px
      top: 50px
      transform: scaleY(-1) rotate(-180deg)

    @media $mobile
      width: 320px
      left: auto
      right: -45vw
      top: 350px
      transform: scaleX(-1)

  .projects-heading
    margin-bottom: 8rem

    @media $mobile
      margin-bottom: 4rem

  .customers
    margin: 12.5rem auto

    @media $mobile
      padding: 0
      margin: 8rem auto

    .logo-wrapper
      max-width: 84rem
      margin-left: auto
      margin-right: auto

  .current-projects
    padding: 12.5rem 0
    text-align: center

    @media $mobile
      padding: 8rem 2rem
      text-align: left

      .button
        margin-left: -1.5rem

    h2
      margin-top: 0
</style>
