<template lang="html">
  <main class="team">
    <FlavourHero :overline="$page.data.titel" :title="$page.data.h1" />
    <FlavourFruit fruit="brokkoli" />
    <FlavourVideo :color="$page.data.color" full-width :video-id="$page.data.teamVideoId" :video-thumbnail="$page.data.teamVideoThumbnail">
      <div class="team-video-content" v-html="$page.data.teamVideoBeschreibung">
      </div>
    </FlavourVideo>
    <section class="employees">
      <h2 class="show-overline">{{$page.data.mitarbeiterTitel}}</h2>
      <div class="card-wrapper">
        <FlavourEmployee v-for="(employee, index) in $page.data.mitarbeiter" :key="index" :name="employee.name" :position="employee.position" :src="employee.image || ''" />
      </div>
    </section>
    <div class="zucchini-wrapper">
      <FlavourSeparator id="karriere" color="leafDarkGradient" dark :title="$page.data.karriereTrenner" />
      <FlavourFruit fruit="zucchini" />
      <section v-if="openPositions.length > 0" class="open-positions">
        <h2 class="show-overline">{{$page.data.offeneStellenTitel}}</h2>
        <div class="card-wrapper">
          <FlavourCard v-for="(openPosition, index) in openPositions" :border-color="$page.data.color" :color="openPosition.color" :href="openPosition.link || '/kontakt/'" :fruit="openPosition.icon" :key="index" size="large" :text="openPosition.content" :title="openPosition.title" :type="openPosition.link && (openPosition.link.startsWith('http') || openPosition.link.startsWith('#')) ? 'a' : 'g-link'" />
        </div>
      </section>
      <section v-else class="open-positions">
        <div class="initiative-wrapper">
          <h2>{{$page.data.initiativbewerbung.titel}}</h2>
          <p>{{$page.data.initiativbewerbung.text}}</p>
          <FlavourButton color="plum" href="/kontakt/" type="g-link">{{$page.data.initiativbewerbung.cta}}</FlavourButton>
        </div>
      </section>
      <section class="why-flavour">
        <FlavourVideo :color="$page.data.color" dark :video-id="$page.data.warumVideoId" :video-thumbnail="$page.data.warumVideoThumbnail">
          <h2>{{$page.data.warumVideoTitel}}</h2>
          <p>{{$page.data.warumVideoBeschreibung}}</p>
        </FlavourVideo>
        <section v-if="$page.data.benefits && $page.data.benefits.length > 0" class="benefits">
          <FlavourTextHighlight v-for="(benefit, index) in $page.data.benefits" :key="index">
            {{benefit}}
          </FlavourTextHighlight>
        </section>
      </section>
    </div>
    <FlavourTextAndImage alt="Team bei der Arbeit" background class="student-block" :src="$page.data.studentBild">
      <h2>{{$page.data.studentTitel}}</h2>
      <p>{{$page.data.student}}</p>
      <FlavourButton color="plum" href="/kontakt/" type="g-link">{{$page.data.studentButton}}</FlavourButton>
    </FlavourTextAndImage>
    <!-- <FlavourQuote :client="$page.data.zitatKunde" color="text" :name="$page.data.zitatName" :quote="$page.data.zitat" :src="$page.data.zitatBild" /> -->
  </main>
</template>

<script>
import generateMetaTags from '@/assets/js/generateMetaTags';
import generateCanonicalLinks from '@/assets/js/generateCanonicalLinks';

export default {
  created() {
    this.$root.pageColor = this.$page.data.color;
    this.$root.pageDark = this.$page.data.dark;
  },
  computed: {
    openPositions() {
      return this.$page.openPositions.edges.map((edge) => edge.node);
    },
  },
  metaInfo() {
    const defaultTitle = this.$page.data.titel;
    const metaTags = generateMetaTags(this.$page.data.seo, this.$route.path, defaultTitle);
    const link = generateCanonicalLinks(this.$page.data.seo.canonicalUrl, this.$route.path);
    const meta = {
      link,
      meta: metaTags,
      title: this.$page.data.seo.title || defaultTitle,
    };

    if (this.$page.data.dark) meta.bodyAttrs = { class: 'dark' };

    return meta;
  },
};
</script>

<page-query>
query {
  data: pageContent(id: "team") {
    id,
    color,
    dark,
    h1,
    titel,
    teamVideoId,
    teamVideoThumbnail,
    teamVideoBeschreibung,
    mitarbeiterTitel,
    mitarbeiter {
      name,
      position,
      image(width: 288, quality: 90)
    },
    karriereTrenner,
    offeneStellenTitel,
    initiativbewerbung {
      titel,
      text,
      cta
    },
    warumVideoId,
    warumVideoThumbnail,
    warumVideoTitel,
    warumVideoBeschreibung,
    benefits,
    studentTitel,
    student,
    studentButton,
    studentBild,
    zitatName,
    zitatKunde,
    zitat,
    zitatBild,
    seo {
      title,
      description,
      image(width: 1200, height: 630),
      imageAlt,
      cardStyle,
      keywords,
      canonicalUrl,
      noindex,
    }
  },
  openPositions: allOpenPosition {
    edges {
      node {
        color,
        icon,
        title,
        content,
        link
      }
    }
  }
}
</page-query>

<style lang="stylus" scoped>
@require '../assets/styles/breakpoints'
@require '../assets/styles/colors'

.team
  overflow: hidden
  position: relative

  .hero
    margin-bottom: 8rem

    @media $mobile
      margin-bottom: 4rem

  .fruit.brokkoli
    position: absolute
    max-width: 100%
    width: 877px
    height: @width
    top: 300px
    // left: 1113px
    right: -70px
    transform: rotate(47.26deg)

    @media $desktopSmall
      right: -200px

    @media $mobile
      display: none

  > .video
    position: relative
    z-index: 1

    @media $mobile
      margin-top: 0
      margin-bottom: 0

    .team-video-content
      columns: 2
      column-gap: 3rem

      @media $mobile
        columns: 1

  .zucchini-wrapper
    position: relative

    .fruit.zucchini
      position: absolute
      width: 1087px
      height: @width
      right: -391px
      top: 25px
      max-width: 100%

  .employees,
  .open-positions
    background-color: $bgGrey
    padding: 12.5rem 0

    @media $desktopSmall
      padding: 12.5rem 2rem

    @media $mobile
      padding: 8rem 2rem 4rem 2rem

    h2
      margin-top: 0

    .card-wrapper
      margin-top: 8rem

      @media $mobile
        margin-top: 4rem

      .employee
        margin: 1.5rem

    .initiative-wrapper
      max-width: 81rem
      margin: 0 auto
      text-align: center

  .employees .card-wrapper
    max-width: 120rem
    margin-left: auto
    margin-right: auto

  .why-flavour
    padding-top: 12.5rem

    @media $mobile
      padding-top: 0

    .video
      margin-top: 0

      @media $mobile
        margin-bottom: 0

    .benefits
      max-width: none
      display: flex
      flex-wrap: wrap
      justify-content: space-between

      @media $desktopSmall
        padding-left: 2rem
        padding-right: 2rem

      .text-highlight
        margin-bottom: 1.168rem
        min-width: 18rem

  .student-block
    margin-bottom: 12.5rem

    @media $mobile
      margin-top: 0
      margin-bottom: 0
</style>
