<template lang="html">
  <section class="separator" :class="{ dark, faded, 'negative-margin': negativeMargin }" :style="{ background }">
    <g-image v-if="src" class="background" :src="image" :alt="alt || 'Image not found'" />
    <div class="wrapper">
      <h2 v-if="title" :class="{ left: content }">{{title}}</h2>
      <p v-if="content && !negativeMargin" v-html="content"></p>
      <FlavourButton v-if="cta && cta.target && cta.label" :color="color" :custom-color="cta.color" :dark="dark" :href="cta.target" rel="noopener noreferrer" target="_blank" type="a">{{cta.label}}</FlavourButton>
    </div>
  </section>
</template>

<script>
import * as COLORS from '@/assets/js/colors';

export default {
  computed: {
    background() {
      if (this.customGradient && this.customGradient.colorOne && this.customGradient.colorTwo) {
        return `linear-gradient(to top right, ${this.customGradient.colorOne}, ${this.customGradient.colorTwo})`;
      }
      return COLORS[this.color] || this.color;
    },
    image() {
      if (typeof this.src === 'string' && this.src.startsWith('.')) {
        const split = this.src.split('/');
        return require(`!!assets-loader!@/assets/images/${split[split.length - 1]}`); // eslint-disable-line import/no-dynamic-require, global-require
      }
      return this.src;
    },
  },
  props: {
    alt: String,
    color: {
      type: String,
      default: 'sky',
    },
    content: String,
    cta: Object,
    customGradient: [Object, Boolean],
    dark: Boolean,
    faded: Boolean,
    negativeMargin: Boolean,
    src: [String, Object],
    title: String,
  },
};
</script>

<style lang="stylus" scoped>
@require '../assets/styles/breakpoints'

.separator
  min-height: 50rem
  position: relative
  display: flex
  align-items: center
  justify-content: flex-start
  padding: 8rem 2rem

  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) // IE Hack
    &::after // so content gets properly centred in IE
      content: ''
      min-height: inherit
      font-size: 0

  @media $mobile
    min-height: 25rem
    padding: 4rem 2rem

  &.dark
    background-color: transparent

  &.faded
    .background,
    noscript >>> .background
      opacity: 0.5

  &.negative-margin
    min-height: auto
    margin-bottom: -16rem
    padding-bottom: 16rem

    .wrapper > h2
      margin-bottom: 5rem

  .background,
  noscript >>> .background
    position: absolute
    width: 100%
    height: 100%
    top: 0
    left: 0
    object-fit: cover

  .wrapper
    max-width: 81rem
    width: 100%
    margin: 0 auto
    z-index: 1
    position: relative

    > h2
      margin: 0 auto

      &.left
        text-align: left
        margin-bottom: 3rem
        max-width: 39rem
        margin-left: 0

    > p
      margin-left: 0

    > .button:not(.icon-first)
      margin-left: -1.5rem // so it’s inline with the text
</style>
