<template lang="html">
  <footer class="footer" :class="{dark}">
    <section class="cta" :style="{ backgroundImage: ctaGradient }">
      <h3><span>Lassen Sie uns zusammenarbeiten!</span><span>Erster Schritt: <g-link to="/kontakt/">sprechen Sie mit uns.</g-link></span></h3>
      <FooterFruit :color="approximateColor[color] || color" />
    </section>
    <section class="info">
      <div class="contact">
        <p class="electronic">
          <a :href="`mailto:${$static.metadata.email}`">{{ $static.metadata.email }}</a>
          <br>
          <a :href="`tel:${$static.metadata.phone.replace(/\(0\)|\s+/g, '')}`">{{ $static.metadata.phone }}</a>
        </p>
        <p class="physical">
          <span>{{ $static.metadata.mailAddress.street }}</span>
          <br>
          <span>{{ $static.metadata.mailAddress.city }}</span>
        </p>
      </div>
    </section>
    <section class="footer-nav">
      <nav>
        <FlavourLogo />
        <ul>
          <li><g-link to="/impressum/">Impressum</g-link></li>
          <li><g-link to="/datenschutz/">Datenschutz</g-link></li>
          <li><g-link to="/kontakt/">Kontakt</g-link></li>
        </ul>
      </nav>
    </section>
    <section class="copyright">
      <p>© 2020{{currentYear}} Flavour Kommunikation</p>
    </section>
  </footer>
</template>

<script>
import * as COLORS from '@/assets/js/colors';

import FooterFruit from '@/components/FooterFruit.vue';

export default {
  components: {
    FooterFruit,
  },
  computed: {
    ctaGradient() {
      switch (this.color) {
        case 'aubergine':
          return `linear-gradient(to bottom right, ${COLORS.aubergine}, ${COLORS.plum})`;
        case 'apple':
          return `linear-gradient(to bottom right, ${COLORS.banana}, ${COLORS.apple})`;
        case 'leaf':
          return `linear-gradient(to bottom right, ${COLORS.lime}, ${COLORS.leaf})`;
        case 'pineapple':
          return `linear-gradient(to bottom right, ${COLORS.banana}, ${COLORS.pineapple})`;
        case 'strawberry':
          return `linear-gradient(to bottom right, ${COLORS.apple}, ${COLORS.strawberry})`;
        default:
          return COLORS[`${this.color}Gradient`] || COLORS[`${this.approximateColor[this.color]}Gradient`];
      }
    },
    currentYear() {
      const year = new Date().getFullYear();
      if (year !== 2020) return ` – ${year}`;
      return '';
    },
  },
  data() {
    return {
      approximateColor: {
        lemon: 'banana',
        lime: 'leaf',
        sky: 'plum',
      },
    };
  },
  props: {
    color: {
      type: String,
      default: 'plum',
    },
    dark: Boolean,
  },
};
</script>

<static-query>
query {
  metadata {
    mailAddress {
      name,
      street,
      city,
    },
    email,
    phone
  }
}
</static-query>

<style lang="stylus" scoped>
@require '../assets/styles/breakpoints'
@require '../assets/styles/colors'

.footer
  section
    &.cta
      position: relative
      padding: 8rem 2rem
      color: $bg

      @media $mobile
        padding: 4rem 2rem

      h3
        text-align: left
        max-width: 81rem
        margin: 0 auto

        @media $mobile
          font-size: 2rem

        span
          display: block

          @media $mobile
            margin-bottom: 1rem

          a
            color: inherit

            &:hover::after
              transform: none

            &::after
              bottom: -(6 / 16)rem
              height: 0.375rem
              transform: scaleX(0.25)

              @media $mobile
                height: (3 / 16)rem
                bottom: -0.125rem

      .footer-fruit
        position: absolute
        top: 0
        right: 0

        @media screen and (max-width: 80rem)
          max-width: 50%

        @media screen and (max-width: 62rem)
          max-width: 25%

        @media $mobile
          display: none

    &.info
      padding: 8rem 2rem

      @media $mobile
        padding: 4rem 2rem

      .contact
        display: flex
        max-width: 81rem
        margin: 0 auto

        @media $mobile
          display: block

        p
          border-top: 1px solid currentColor
          padding-top: 2rem
          margin: 0

          &:first-child
            margin-right: 10rem

            @media $mobile
              margin-right: 0
              margin-bottom: 2rem

          a
            color: inherit

    &.footer-nav
      padding: 0 2rem
      margin-bottom: 3.5rem
      nav
        display: flex
        max-width: 81rem
        margin: 0 auto
        justify-content: space-between
        align-items: center

        @media $mobile
          flex-direction: column
          align-items: flex-start

        .logo
          height: 3.5rem

          @media $mobile
            display: none

        ul
          list-style: none
          padding: 0
          margin: 0
          width: auto

          li
            display: inline-block
            margin: 0

            @media $mobile
              // display: block
              // text-align: center
              margin-bottom: 1rem

            &:not(:last-child)
              margin-right: 3rem

              @media $mobile
                margin-right: 1rem

            &::before
              content: none

            a
              color: inherit
              font-weight: bold

    &.copyright
      text-align: center
      padding: 0 2rem
      padding-bottom: 4rem

      @media $mobile
        text-align: left

      p
        opacity: 0.5
        margin: 0 auto

        &.non-gendered-language
          font-size: 0.875rem
          opacity: 0.38
          line-height: 1.3
          margin-top: 1rem

</style>
