<template lang="html">
  <footer class="lp-footer" :class="{ dark }">
    <div class="wrapper">
      <template v-if="logo">
        <g-image alt="Logo" :src="logo" />
        <p>by <a href="https://flavour-kommunikation.de/" rel="noopener noreferrer" target="_blank">Flavour Kommunikation</a></p>
      </template>
      <p v-else><a href="https://flavour-kommunikation.de/" rel="noopener noreferrer" target="_blank">Flavour Kommunikation</a></p>
      <nav>
        <ul>
          <li>
            <a href="https://flavour-kommunikation.de/impressum/">Impressum</a>
          </li>
          <li>
            <a href="https://flavour-kommunikation.de/datenschutz/">Datenschutz</a>
          </li>
        </ul>
        <FlavourSelect v-if="currentLanguage && languages && languages.length > 0" :dark="dark" :options="languageOptions" :value="currentLanguage" @input="$emit('language-change', $event)" />
      </nav>
    </div>
  </footer>
</template>

<script>
export default {
  computed: {
    languageOptions() {
      return this.languages.map((lang) => ({ value: lang.label }));
    },
  },
  props: {
    currentLanguage: String,
    dark: Boolean,
    languages: Array,
    logo: Object,
  },
};
</script>

<style lang="stylus" scoped>
@require '../assets/styles/breakpoints'

.lp-footer
  padding: (48 / 16)rem 1rem (56 / 16)rem 1rem

  .wrapper
    max-width: 81rem
    margin: 0 auto
    display: flex
    align-items: flex-end

    @media $desktopSmall
      flex-wrap: wrap
      justify-content: center

    img,
    noscript >>> img
      display: block
      max-width: (112 / 16)rem
      margin-right: 1rem

      @media $mobile
        margin-right: 0

    p
      margin: 0
      margin-top: 1rem

      @media $mobile
        width: 100%
        text-align: center

    a
      color: inherit
      font-weight: bold

    nav
      margin-left: auto
      display: flex
      align-items: flex-end

      @media $desktopSmall
        width: 100%
        justify-content: center
        margin-top: 4rem

      ul
        list-style: none
        margin: 0
        padding: 0

        li
          display: inline-block
          margin: 0

          &:not(:last-child)
            margin-right: (48 / 16)rem

          &::before
            content: none

      .select
        text-transform: uppercase
        margin-bottom: (-13.5 / 16)rem // Hack: so that the baselines of the texts match up
        margin-left: 2rem

        @media $mobile
          margin-left: 1rem
</style>
