<template lang="html">
  <section class="facts-and-figures">
    <div class="wrapper">
      <h2 class="show-overline">{{title}}</h2>
      <div class="buckets">
        <div v-for="(bucket, index) in buckets" class="bucket" :key="index">
          <header :style="{ color: COLORS[color] || color }">
            <FlavourIcon v-if="bucket.icon" :icon="bucket.icon" />
            <p class="h1">{{bucket.number}}</p>
          </header>
          <h3>{{bucket.title}}</h3>
          <p>{{bucket.content}}</p>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import * as COLORS from '@/assets/js/colors';

export default {
  data() {
    return {
      COLORS,
    };
  },
  props: {
    buckets: Array,
    color: {
      type: String,
      default: 'sky',
    },
    title: String,
  },
};
</script>

<style lang="stylus" scoped>
@require '../assets/styles/breakpoints'
@require '../assets/styles/colors'

.facts-and-figures
  background-color: $bgGrey
  padding: 12.5rem 2rem

  @media $mobile
    padding: 4rem 2rem

  .wrapper
    max-width: 81rem
    margin: 0 auto

    h2
      margin-top: 0
      margin-bottom: 8rem

      @media $mobile
        margin-bottom: 4rem

    .buckets
      display: flex
      justify-content: center
      margin: 0 -1.5rem

      @media screen and (max-width: 60rem)
        display: block
        padding: 0 2rem

      .bucket
        margin: 0 1.5rem
        width: 100%
        max-width: 25rem

        @media screen and (max-width: 60rem)
          margin: 0 auto
          margin-bottom: 4rem

        header
          display: flex
          align-items: baseline
          justify-content: flex-start

          .icon
            margin-right: 1rem
            width: 2rem
            height: @width

          .h1
            margin: 0
            text-align: left

        > h3
          text-align: left
          margin-top: 1rem
</style>
