<template lang="html">
  <section class="text-and-image">
    <g-image :class="{ 'image-first': imageFirst, 'image-focus': imageFocus }" :src="src" :alt="alt" />
    <div class="content-wrapper" :class="{ background, dark, 'image-first': imageFirst }">
      <slot />
    </div>
  </section>
</template>

<script>
export default {
  props: {
    alt: String,
    background: Boolean,
    dark: Boolean,
    imageFirst: Boolean,
    imageFocus: Boolean,
    src: {
      type: [String, Object],
      required: true,
    },
  },
};
</script>

<style lang="stylus" scoped>
@require '../assets/styles/breakpoints'
@require '../assets/styles/colors'

.text-and-image
  max-width: 81rem
  margin: 8rem auto
  padding: 2rem 0
  position: relative

  @media $mobile
    padding: 0

  > img,
  > noscript >>> img
    display: block
    width: 50%
    height: 100%
    object-fit: cover
    border-radius: 2px
    position: absolute
    top: 0
    right: 0

    @media $mobile
      position: static
      width: 100%
      height: 30vh
      border-radius: 0

      &.image-focus
        height: auto

    &.image-first
      left: 0

  .content-wrapper
    padding: 5rem
    margin-top: auto
    margin-bottom: auto
    width: 50%
    border-top-left-radius: 2px
    border-bottom-left-radius: 2px

    @media screen and (max-width: 50rem)
      padding: 2.5rem 2rem

    @media $mobile
      width: 100%
      border-radius: 0

    &.background:not(.dark)
      background-color: $bgGrey

    &.image-first
      margin-left: 50%
      border-top-left-radius: 0
      border-bottom-left-radius: 0
      border-top-right-radius: 2px
      border-bottom-right-radius: 2px

      @media $mobile
        margin-left: 0
        border-radius: 0

    :first-child
      margin-top: 0

    h2, h3, h4
      text-align: left

    .button:not(.icon-first)
      margin-left: -1.5rem // so it’s inline with the text

    :last-child
      margin-bottom: 0
</style>
