<template lang="html">
  <div class="input" :class="[color, { focussed, dirty, dark, error }]" @click="focusInput">
    <FlavourIcon :icon="icon" />
    <label>
      <span>{{label}}{{required ? '*' : ''}}</span>
      <div v-if="type === 'multiline'" class="autogrow-area" ref="autogrow">
        <pre ref="pre"></pre>
        <textarea autocomplete="off" :placeholder="placeholder" ref="textarea" :value="value" @blur="handleBlur" @focus="handleFocus" @input="$emit('input', $event.target.value)"></textarea>
      </div>
      <input v-else :placeholder="focussed ? placeholder : ''" ref="input" :type="type" :value="value" @blur="handleBlur" @focus="handleFocus" @input="$emit('input', $event.target.value)">
    </label>
    <transition>
      <span v-if="error" class="error">{{error}}</span>
    </transition>
    <div class="ink" />
  </div>
</template>

<script>
export default {
  computed: {
    dirty() {
      return this.value.length > 0;
    },
  },
  data() {
    return {
      focussed: false,
    };
  },
  methods: {
    focusInput() {
      if (this.focussed) return;
      if (this.type === 'multiline') this.$refs.textarea.focus();
      else this.$refs.input.focus();
    },
    handleBlur(e) {
      this.focussed = false;
      this.$emit('blur', e);
    },
    handleFocus(e) {
      this.focussed = true;
      this.$emit('focus', e);
    },
    recalculateHeight(value) {
      this.$refs.pre.innerText = value;
      this.$refs.pre.appendChild(document.createElement('BR'));
      this.$refs.autogrow.style.height = `${this.$refs.pre.offsetHeight}px`;
    },
  },
  mounted() {
    if (this.type === 'multiline') this.recalculateHeight(this.value);
  },
  props: {
    color: {
      type: String,
      default: 'plum',
    },
    dark: Boolean,
    error: String,
    icon: {
      type: String,
      default: 'mail',
    },
    label: {
      type: String,
      default: 'Hier Text eingeben…',
    },
    placeholder: String,
    required: Boolean,
    type: {
      type: String,
      default: 'text',
      validator: (v) => ['email', 'multiline', 'number', 'password', 'search', 'text'].includes(v),
    },
    value: [String, Number],
  },
  watch: {
    value(newValue) {
      if (this.type === 'multiline') this.recalculateHeight(newValue);
    },
  },
};
</script>

<style lang="stylus" scoped>
@require '../assets/styles/colors'

.input
  display: inline-flex
  align-items: center
  position: relative
  border-bottom: 0.25rem solid alpha($text, 0.1)
  cursor: text
  margin: 1rem 0

  &.dark
    border-bottom-color: alpha($bg, 0.2)

  &:hover .ink
    width: 50%

  &.apple
    &.focussed label span
      color: $apple

    .icon
      color: $apple

    .required-marker,
    .ink
      background-color: $apple

  &.orange
    &.focussed label span
      color: $orange

    .icon
      color: $orange

    .required-marker,
    .ink
      background-color: $orange

  &.strawberry
    &.focussed label span
      color: $strawberry

    .icon
      color: $strawberry

    .required-marker,
    .ink
      background-color: $strawberry

  &.lemon
    &.focussed label span
      color: $lemon

    .icon
      color: $lemon

    .required-marker,
    .ink
      background-color: $lemon

  &.lime
    &.focussed label span
      color: $lime

    .icon
      color: $lime

    .required-marker,
    .ink
      background-color: $lime

  &.banana
    &.focussed label span
      color: $banana

    .icon
      color: $banana

    .required-marker,
    .ink
      background-color: $banana

  &.aubergine
    &.focussed label span
      color: $aubergine

    .icon
      color: $aubergine

    .required-marker,
    .ink
      background-color: $aubergine

  &.maracuja
    &.focussed label span
      color: $maracuja

    .icon
      color: $maracuja

    .required-marker,
    .ink
      background-color: $maracuja

  &.plum
    &.focussed label span
      color: $plum

    .icon
      color: $plum

    .required-marker,
    .ink
      background-color: $plum

  &.leaf
    &.focussed label span
      color: $leaf

    .icon
      color: $leaf

    .required-marker,
    .ink
      background-color: $leaf

  &.leafDark
    &.focussed label span
      color: $leafDark

    .icon
      color: $leafDark

    .required-marker,
    .ink
      background-color: $leafDark

  &.sky
    &.focussed label span
      color: $sky

    .icon
      color: $sky

    .required-marker,
    .ink
      background-color: $sky

  &.pineapple
    &.focussed label span
      color: $pineapple

    .icon
      color: $pineapple

    .required-marker,
    .ink
      background-color: $pineapple

  &.error
    color: $apple

    &.focussed label span
      color: $apple

    .icon
      color: $apple

    .required-marker,
    .ink
      background-color: $apple

  &.focussed,
  &.dirty
    label
      span
        transform: translateY(-100%) scale(0.75)

  &.focussed
    label
      span
        color: $plum
        opacity: 1

    .ink
      width: 100%

  .icon
    width: 2.5rem
    height: @width
    padding: 0.5rem
    color: $plum
    align-self: flex-start

  label
    position: relative
    padding-left: 0.5rem
    padding-right: 1rem
    cursor: inherit
    width: 100%

    span
      position: absolute
      opacity: 0.54
      transform-origin: bottom left
      transition: transform 200ms ease
      user-select: none
      white-space: nowrap
      overflow: hidden
      text-overflow: ellipsis
      width: calc(100% - 1.5rem)

    input
      height: 100%
      width: 100%
      font-family: inherit
      font-size: inherit
      font-weight: inherit
      letter-spacing: inherit
      color: inherit
      border: none
      background-color: transparent
      text-overflow: ellipsis

      &:focus
        outline: none

      &:invalid
        box-shadow: none

      &::-webkit-inner-spin-button,
      &::-webkit-outer-spin-button
        appearance: none
        margin: 0

      &[type=number]
        -moz-appearance: textfield

      &::-webkit-search-decoration,
      &::-webkit-search-cancel-button,
      &::-webkit-search-results-button,
      &::-webkit-search-results-decoration
        appearance: none

    .autogrow-area
      position: relative
      width: 100%

      pre,
      textarea
        vertical-align: top
        margin: 0
        padding: 0
        outline: 0
        border: 0
        font-family: inherit
        font-size: inherit
        font-weight: inherit
        letter-spacing: inherit
        color: inherit
        background-color: transparent
        resize: none
        white-space: pre-wrap
        word-wrap: break-word
        line-height: inherit
        overflow: hidden
        text-align: inherit

      textarea
        width: 100%
        height: 100%
        resize: none

      pre
        position: absolute
        top: 0px
        left: @top
        right: @top
        visibility: hidden

  .error
    position: absolute
    white-space: nowrap
    overflow: hidden
    text-overflow: ellipsis
    width: 100%
    left: 0
    bottom: -1.5rem
    font-size: 0.75rem
    user-select: none

    &.v-enter-active,
    &.v-leave-active
      transition: transform 200ms ease, opacity 200ms ease

      &.v-enter,
      &.v-leave-to
        transform: translateY(-50%)
        opacity: 0

  .ink
    position: absolute
    left: 0
    bottom: -0.25rem
    height: 0.25rem
    width: 2.5rem
    background-color: $plum
    transition: width 200ms ease

</style>
