<template lang="html">
  <section class="project-card" :class="{ dark, 'image-first': imageFirst }" :style="{ backgroundImage: gradient }">
    <g-image :src="image" :alt="title" height="800" />
    <div class="wrapper">
      <FlavourClientLogo :logo="logo" monochrome />
      <p v-if="type" class="tag">{{type}}</p>
      <h3 class="h1">{{title}}</h3>
      <FlavourButton :custom-color="buttonColor" dark :href="path" type="g-link">Projekt Ansehen</FlavourButton>
    </div>
  </section>
</template>

<script>
import * as COLORS from '@/assets/js/colors';

export default {
  computed: {
    buttonColor() {
      return COLORS[this.colorTwo] || this.colorTwo;
    },
    gradient() {
      return `linear-gradient(to top right, ${COLORS[this.colorOne] || this.colorOne}, ${COLORS[this.colorTwo] || this.colorTwo})`;
    },
    image() {
      if (typeof this.src === 'string' && this.src.startsWith('.')) {
        const split = this.src.split('/');
        return require(`!!assets-loader?height=800!@/assets/images/${split[split.length - 1]}`); // eslint-disable-line import/no-dynamic-require, global-require
      }
      return this.src;
    },
  },
  props: {
    colorOne: {
      type: String,
      default: 'sky',
    },
    colorTwo: {
      type: String,
      default: 'plum',
    },
    dark: Boolean,
    imageFirst: Boolean,
    logo: String,
    path: {
      type: String,
      required: true,
    },
    src: {
      type: [Object, String],
      required: true,
    },
    title: String,
    type: String,
  },
};
</script>

<style lang="stylus" scoped>
@require '../assets/styles/breakpoints'

.project-card
  display: flex
  align-items: center

  @media $mobile
    display: block

  &.image-first
    > img,
    > noscript
      order: 0

  > img,
  > noscript
    width: (960 / 16)rem
    max-width: 50%
    align-self: stretch
    object-fit: cover
    order: 1

    @media $mobile
      width: 100%
      max-width: none
      height: 25rem

    >>> img
      height: 100%

  .wrapper
    padding: 8rem
    margin: 0 auto
    width: 50%

    @media $desktopSmall
      padding: 4rem

      .h1
        font-size: 3.5rem
        margin-top: 6rem
        margin-bottom: 3rem

    @media $mobile
      padding: 3rem 2rem
      width: 100%

      .h1
        font-size: 3rem
        margin-bottom: 2rem

    .client-logo
      margin-bottom: 1.5rem
      height: 4rem

      @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) // IE Hack
        >>> div svg
          width: (140 / 16)rem

      @media $mobile
        height: 2.5rem

    .tag
      text-align: left
      margin-left: 0
      margin-bottom: 1rem
      margin-top: 2rem
      font-weight: 500
      text-transform: uppercase
      letter-spacing: 0.125rem
      font-size: 1rem

    .h1
      margin-top: 0
      text-align: left
      margin-bottom: 2.5rem

      @media $mobile
        margin-bottom: 2rem

    .button
      margin-left: -1.5rem // so it's aligned when not extended
</style>
