<template lang="html">
  <transition>
    <div v-if="visible" class="cookie-consent">
      <section v-html="$static.metadata.cookieConsentHTML" />
      <footer>
        <FlavourButton :color="$root.pageColor" icon="cross" icon-first @click="$emit('deny')">Ablehnen</FlavourButton>
        <FlavourButton :color="$root.pageColor" icon="check" @click="$emit('accept')">Akzeptieren</FlavourButton>
      </footer>
    </div>
  </transition>
</template>

<script>
export default {
  props: {
    visible: Boolean,
  },
};
</script>

<static-query>
  query {
    metadata {
      cookieConsentHTML
    }
  }
</static-query>

<style lang="stylus" scoped>
@require '../assets/styles/breakpoints'
@require '../assets/styles/colors'

.cookie-consent
  position: fixed
  bottom: 2rem
  left: 2rem
  max-width: 39rem
  width: calc(100% - 4rem)
  background-color: $bg
  padding: 2rem
  border-radius: 2px
  border: 1px solid $text
  font-size: 0.875rem
  z-index: 9

  @media $mobile
    width: 100%
    left: 0
    bottom: 0
    max-height: 80vh
    overflow: auto

  &.v-enter-active,
  &.v-leave-active
    transition: transform 200ms ease, opacity 200ms ease

    &.v-enter,
    &.v-leave-to
      opacity: 0
      transform: translateY(4rem)

  footer
    display: flex
    justify-content: space-between

    @media $mobile
      display: block
      text-align: center

      .button:first-child
        margin-bottom: 1rem

    .button
      font-size: 1rem
</style>
