<template lang="html">
  <div class="lp-menu" :class="{ dark }">
    <FlavourButton class="mobile-menu-button" :color="color" :dark="dark" :icon="menuVisible ? 'cross' : 'menu'" no-label type="button" @click="toggleMenu">Menu</FlavourButton>
    <nav ref="nav" @transitionstart.self="transitioning = true" @transitionend.self="transitioning = false" @transitioncancel.self="transitioning = false">
      <ul :style="{ overflowY: transitioning ? 'visible' : ''}">
        <li v-for="entry in entries" :key="entry.anchor">
          <a :href="entry.anchor" @click="toggleMenu(true)">{{entry.label}}</a>
        </li>
      </ul>
      <FlavourSelect v-if="currentLanguage && languages && languages.length > 0" :dark="dark" :force-from-bottom="mobile" :options="languageOptions" :value="currentLanguage" @input="$emit('language-change', $event)" />
    </nav>
    <FlavourButton v-if="cta && cta.label && cta.target" :color="color" :dark="dark" :href="cta.target" :icon="cta.icon" :icon-first="mobile" type="a" @click.native="toggleMenu(true)">{{cta.label}}</FlavourButton>
  </div>
</template>

<script>
import * as COLORS from '@/assets/js/colors';

export default {
  beforeDestroy() {
    if (process.isServer) return; // like during build
    if (this.mobileQuery) this.mobileQuery.removeListener(this.handleResize);
    window.removeEventListener('click', this.handleOutsideClick);
  },
  computed: {
    hexColor() {
      return COLORS[this.color] || this.color;
    },
    languageOptions() {
      return this.languages.map((lang) => ({ value: lang.label }));
    },
  },
  created() {
    if (process.isServer) return; // like during build
    if (window && window.matchMedia) {
      this.mobileQuery = window.matchMedia('(max-width: 81rem)');
      this.mobileQuery.addListener(this.handleResize);
    }
  },
  data() {
    return {
      menuHeight: '0px',
      menuVisible: false,
      mobile: false,
      mobileQuery: null,
      transitioning: false,
    };
  },
  methods: {
    handleResize(e) {
      this.mobile = e.matches;
    },
    handleOutsideClick(e) {
      if (!this.$el.contains(e.target)) this.toggleMenu();
    },
    toggleMenu(forceClose) {
      if (this.menuVisible || forceClose === true) {
        this.menuVisible = false;
        this.$refs.nav.style.height = '0px';
        this.$emit('deactivate');
        window.removeEventListener('click', this.handleOutsideClick);
      } else {
        this.menuVisible = true;
        this.$refs.nav.style.height = 'auto';
        this.$refs.nav.style.visibility = 'hidden';
        const rect = this.$refs.nav.getBoundingClientRect();
        this.$refs.nav.style.removeProperty('visibility');
        this.$refs.nav.style.height = '0px';
        window.getComputedStyle(this.$refs.nav).height; // eslint-disable-line
        window.requestAnimationFrame(() => {
          this.$refs.nav.style.height = `${rect.height}px`;
        });
        this.$emit('activate');
        window.addEventListener('click', this.handleOutsideClick);
      }
    },
  },
  mounted() {
    if (this.mobileQuery && this.mobileQuery.matches) this.mobile = true; // needs to be done here or else hydration fails
  },
  props: {
    color: String,
    cta: Object,
    currentLanguage: String,
    dark: Boolean,
    entries: Array,
    languages: Array,
  },
};
</script>

<style lang="stylus" scoped>
@require '../assets/styles/breakpoints'
@require '../assets/styles/colors'

.lp-menu
  width: 100%
  height: 12rem
  display: flex
  align-items: center

  @media $desktopSmall
    height: 7.5rem

  nav
    margin: 0 auto
    max-width: 81rem
    display: flex
    align-items: center

    @media $desktopSmall
      position: fixed
      overflow: hidden
      top: 7.5rem
      background-color: $text
      flex-direction: column
      align-items: flex-start
      justify-content: space-between
      padding: 0 2rem
      width: 100%
      height: 0
      max-height: calc(100vh - 7.5rem)
      transition: height 350ms ease

    ul
      list-style: none
      padding: 0
      margin: 0
      margin-right: (32 / 16)rem
      display: flex

      @media $desktopSmall
        display: block
        overflow-y: auto
        margin: 0 -1rem
        margin-top: 1rem
        width: calc(100% + 2rem)

      &::after
        content: ''
        display: inline-block
        background-color: currentColor
        width: (1 / 16)rem
        height: 2rem
        margin-left: (48 / 16)rem
        opacity: 0.5

        @media $desktopSmall
          display: none

      li
        display: inline-block
        margin-bottom: 0

        @media $desktopSmall
          display: block
          padding: 1rem
          margin-bottom: 1rem

        &:not(:last-child)
          margin-right: (48 / 16)rem

          @media $desktopSmall
            margin-right: 0

        &::before
          content: none

        a
          color: inherit

    .select
      text-transform: uppercase

      @media $desktopSmall
        margin-left: -1rem
        margin-bottom: 1rem
        flex-shrink: 0

  .button
    position: absolute
    right: 6rem

    @media $desktopSmall
      left: 2rem
      right: auto

    &.mobile-menu-button
      right: 2rem
      left: auto
      display: none

      @media $desktopSmall
        display: inline-flex
</style>
