<template lang="html">
  <svg class="loader" viewBox="0 0 320 108" fill="none" xmlns="http://www.w3.org/2000/svg">
    <g mask="url(#clip0)">
      <rect width="320" height="108" :fill="dark ? '#fff' : '#272A33'" style="animation: none;"/>
      <rect :class="[animation, {once}]" x="-20" y="-126" width="360" height="360" :fill="animation === 'wave' ? '#FFBC05' : 'url(#paint0_radial)'" />
      <rect :class="[animation, {once}]" x="-20" y="-126" width="360" height="360" :fill="animation === 'wave' ? '#FFBC05' : 'url(#paint0_radial)'" />
      <rect :class="[animation, {once}]" x="-20" y="-126" width="360" height="360" :fill="animation === 'wave' ? '#FB073E' : 'url(#paint0_radial)'" />
      <rect :class="[animation, {once}]" x="-20" y="-126" width="360" height="360" :fill="animation === 'wave' ? '#D4145A' : 'url(#paint0_radial)'" />
    </g>
    <defs>
      <mask id="clip0">
        <path d="M272.2 75.3a52.7 52.7 0 002.7 14.6l-1.6-.2c-1.5-.3-3-1-4.2-2-1.3-1.2-3-3.4-5.5-7.7-1-1.6-3.4-6.6-4-8.4-2.9-7-3.9-14.8-4.4-22.3l-1-28.2c0-2 .1-14 .4-17.8V1.8L276.4.1c3.8-.3 7.6 0 11.3.6 3.6.7 7 2.5 9.5 5.2a32.5 32.5 0 017.4 24.3c-.6 4.4-2.4 8.5-5.3 12-3 3.3-6.6 5.3-10.9 6.7 2.2 3 4.6 6 7.2 8.6a385 385 0 008 8 175 175 0 0115.1 17.3l1.3 2-8 1.3-13.7 1.5-6-7-7.5-9c-2.6-3.1-5-6.3-7.1-9.7a2195.4 2195.4 0 01-6.5-9.8l1 23.2zm-1-35.6c5.8-.3 13.7-2.1 15.5-8.4a21 21 0 000-10c-.6-2.5-1.7-5-4-6.6a14 14 0 00-8.2-1.9l-5.2.4v5.6c0 3.6.5 7.3.9 10.9l.4 5.5v4.5h.5zM159.2 13.4c7 0 14 3.2 18.8 8a36.1 36.1 0 019.5 19.9c2.5 14.4-1 30.4-10.6 41.7A38.5 38.5 0 01160 94.5c-6.5 2.3-14.8 3.4-21.3.5a30.9 30.9 0 01-13.5-14.4 45.1 45.1 0 01-1.8-38.6 59.4 59.4 0 017.4-15.1c3.1-4.1 7-7.9 11.6-10.1 2.4-1 4.9-1.8 7.4-2.4 2.6-.6 5.2-1 7.9-1h1.5zm-8.7 67.7a22.2 22.2 0 0016.7-9.8c4-6.2 6-13.5 5.9-21-.2-6.8-2.7-14-8.1-18.4a18.7 18.7 0 00-19.9-1.7c-5 2.4-8 6.5-9.8 11.5-2.2 5.5-3.1 11.5-2.8 17.4.4 5.5 1.6 11.4 4.6 16 1.2 2 2.9 3.6 4.9 4.7 2.1.9 4.4 1.4 6.7 1.3h1.8zM235.7 3.6l5.8-.4-.2 5.6V15a126.5 126.5 0 003 28.1l2 5.4 4.8 10.5c3 6.5 4.5 14 .6 20.3-3.6 6-10 9.6-16.7 11-7.4 1.8-15 1.6-22.3-.4A25 25 0 01197.2 77a45 45 0 01-3.3-10.5c-.6-3.7-1-7.5-1-11.3-.2-5.2-.4-10.3-.4-15.5 0-5.4-.3-10.7-.4-16-.1-5.2-.4-10.3-.4-15.4 5.1-1.3 10.4-1.7 15.6-2.7l.2 11 .3 11.2a997.9 997.9 0 001 23.2c.3 7 .4 15.2 5 21 4.4 5.2 13 5.7 18.7 2.5 5-2.8 7.3-8.9 7.5-14.3.1-6.4-2-12.7-3.5-18.9-1.7-6.3-3.6-12.5-5.5-18.8-1-3-1.6-6-2.2-9-.2-1.7-.1-3.4.2-5 .3-1.5.7-2.9 1.2-4.3l5.5-.6zM39.8 39.5c0 1.7-.3 9.3-.5 11.2l-.8 11.4-1.8 22.5-.8 9h1.5c1.7 0 8.5-.9 8.5-.9l.5-1.6c1-3.7 2-7.5 2.8-11.3l2.7-11.4c1.7-7.8 3.2-15.5 5.4-23.2 1-3.7 2-7.5 3.3-11.3l.4-1.3 7.7-2.4.5 2a3442.5 3442.5 0 0018.7 65.1l-11.3 1.9-3.9-14.5-16.5 3s-.5 4.4-.9 6.4l-1.2 5.4-1 3.5-1.8.5c-3.7.8-7.5 1.3-11.2 1.3l-9.4.7-4.8.3a3 3 0 01-.5 0l.4-4.4c.8-6.6 1.7-13.3 2.2-20 .5-6.6.9-13 1.6-19.6.6-6.6 1.3-20.5 1.3-20.5 3-.3 6-1 9-1.8zm24 12a355 355 0 00-6.1 25.1c2.9-.3 5.7-.8 8.6-1.5l4-.9-1.1-4.4L64 51l-.1.5zM96.6 100.8L95 93.9l-2.8-11.7c-2-7.7-4.1-15.4-6.3-23l-6.1-23-1.8-6.7 9.8-1.2 1.3 6c2.8 13.5 6.5 27.1 9.7 40.5l2.1-6.9 2.4-7.7 4.8-15.7a177.7 177.7 0 005.2-20.8l9.5-3.1-1.4 4.4-1.4 5c-.9 3.4-1.6 6.8-2.3 10.2-.7 3.4-1.1 7-1.7 10.3-.7 3.5-1.3 7.1-2.3 10.6-1.8 6.7-4.3 13-6.5 19.6l-3.3 10c-1 3.3-1.7 6.9-2.8 10h-4.5zM4.9 48.6c6.8-1.7 13.3-4.6 20-6.5l-.4 8.6-.2 1.8-12.3 4-.5 6.9-.5 6.3c4.2-.8 8.3-1.7 12.3-3 .1 3.7 0 7.3-.4 10.9l-3.5.6c-2.4.4-9.1 1.1-9.1 1.1l-.2 1.9-.3 4.3-1 15-.4 6.7-.4.1-8 1c-.2-2.2.2-4.5.3-6.7C.5 99 1.5 84.2 2 79.2l1.3-15.3 1.2-15.2.4-.1z" fill="white"/>
      </mask>
      <radialGradient id="paint0_radial" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(97.5 88) rotate(46.0661) scale(361.041)">
        <stop stop-color="#1ECAF9"/>
        <stop offset="1" stop-color="#312fde"/>
      </radialGradient>
    </defs>
  </svg>
</template>

<script>
export default {
  props: {
    dark: Boolean,
    animation: String,
    once: Boolean,
  },
};
</script>

<style lang="stylus" scoped>
.loader
  width: 320px
  height: 108px

  rect
    &.wave
      transform-origin: left
      animation: wave 2000ms cubic-bezier(0.230, 1.000, 0.320, 1.000) infinite

      &.once
        animation-iteration-count: 1

      &:nth-child(3)
        animation-delay: 100ms
        animation-timing-function: cubic-bezier(0.165, 0.840, 0.440, 1.000);

      &:nth-child(4)
        animation-delay: 200ms
        animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);

      &:nth-child(5)
        animation-delay: 300ms
        animation-timing-function: cubic-bezier(0.250, 0.460, 0.450, 0.940);

      @keyframes wave
        0%
          transform: scaleX(0)
        50%
          transform: scaleX(1)
        100%
          transform: scaleX(0)
          transform-origin: bottom right

    &.turn
      transform-origin: center
      animation: turn 2000ms linear infinite

      &.once
        animation-iteration-count: 1

      @keyframes turn
        from
          transform: rotate(0deg)
        to
          transform: rotate(360deg)
</style>
