<template lang="html">
  <section class="cards" :class="{ background, dark}">
    <h2 v-if="title" class="show-overline">{{title}}</h2>
    <div class="card-wrapper">
      <FlavourCard
        v-for="(card, index) in cards"
        :border-color="card.borderColor"
        :color="card.color"
        :dark="card.dark"
        :href="(card.asset && card.asset.src) || card.href"
        :icon="card.icon"
        :image="card.image"
        :key="index"
        :size="card.size"
        :text="card.body"
        :title="card.title"
        :type="(card.asset && card.asset.src) ? 'a' : card.type"
      />
    </div>
  </section>
</template>

<script>
export default {
  props: {
    title: String,
    background: Boolean,
    dark: Boolean,
    cards: Array,
  },
};
</script>

<style lang="stylus" scoped>
@require '../assets/styles/breakpoints'
@require '../assets/styles/colors'

.cards
  padding: 8rem 2rem

  @media $mobile
    padding: 4rem 2rem

  &.background
    background-color: $bgGrey

    &.dark
      background-color: $text

  h2
    margin-top: 0

  .card-wrapper
    .card
      color: $text

      &.dark
        color: $bg
</style>
