<template lang="html">
  <section class="text" :class="{ background, dark }">
    <div class="not-fullwidth">
      <h2 v-if="title" class="show-overline">{{title}}</h2>
      <div class="columns">
        <div v-for="(column, index) in columns" v-html="column.body" class="column" :key="index" />
      </div>
    </div>
  </section>
</template>

<script>
export default {
  props: {
    background: Boolean,
    columns: Array,
    dark: Boolean,
    title: String,
  },
};
</script>

<style lang="stylus" scoped>
@require '../assets/styles/breakpoints'
@require '../assets/styles/colors'

.text
  padding: 8rem 0

  &.background:not(.dark)
    background-color: $bgGrey

  .not-fullwidth
    h2
      margin-top: 0
      margin-bottom:  (96 / 16)rem

    .columns
      display: flex
      flex-wrap: wrap
      margin: (-1.168 / 2)em (-24 / 16)rem

      @media $mobile
        display: block

      .column
        margin: (1.168 / 2)em (24 / 16)rem
        flex: 1 1 (288 / 16)rem
        max-width: (624 / 16)rem

        &:only-child
          margin-left: auto
          margin-right: auto

        :first-child
          margin-top: 0

        :last-child
          margin-bottom: 0

          @media $mobile
            margin-bottom: 1.168em

</style>
