<template lang="html">
  <section class="hero not-fullwidth">
    <h1 v-if="overline" class="overline">{{overline}}</h1>
    <h2 v-if="title" class="h1 with-overline">{{title}}</h2>
    <p v-if="blurb" v-html="blurb" />
  </section>
</template>

<script>
export default {
  props: {
    blurb: String,
    overline: String,
    title: String,
  },
};
</script>

<style lang="stylus" scoped>
@require '../assets/styles/breakpoints'

.hero
  margin-bottom: 16rem

  @media $mobile
    margin-bottom: 8rem

  // .overline
  //   @media $mobile
  //     text-align: left
  //     margin-bottom: 1rem

  .h1
    max-width: 67rem
    margin-left: auto
    margin-right: auto

    @media $mobile
      font-size: 3rem
      // text-align: left

  p
    text-align: center

    @media $mobile
      text-align: left
</style>
