<template lang="html">
  <nav class="main-nav" :class="[color, { active, dark: dark || active, 'no-scroll': scrollLock }]">
    <div class="bar">
      <g-link aria-label="Home" class="logo-link" to="/" @click.native="handleLogoClick"><FlavourLogo /></g-link>
      <FlavourButton v-if="!nojs" :color="color" :dark="dark || active" :icon="active ? 'cross' : 'menu'" :no-label="mobile" @click="toggleMenu">Menü</FlavourButton>
      <ul v-else class="nojs-menu nojs">
        <li v-for="(page, index) in pages" :key="index">
          <g-link :class="[page.color]" :to="page.path">{{page.label}}</g-link>
        </li>
      </ul>
    </div>
    <transition duration="200" @after-enter="scrollLock = false" @after-leave="$emit('deactivate')">
      <div v-show="active" class="content">
        <div v-for="(page, index) in pages" class="column" :key="page.path" :style="{ transitionDelay: `${index * 100 + 200}ms`}">
          <g-link class="h2" :class="[page.color]" :to="page.path" @click.native="toggleMenu" @mouseenter.native="setHoverColor(page.color)" @mouseleave.native="setHoverColor(null)">{{page.label}}</g-link>
          <ul v-if="page.children && page.children.length > 0">
            <li v-for="subPage in page.children" :key="subPage.path">
              <g-link :to="subPage.path" @click.native="toggleMenu">{{subPage.label}}</g-link>
            </li>
          </ul>
        </div>
      </div>
    </transition>
    <transition>
      <div v-show="active && !scrollLock" class="fruit-wrapper">
        <FlavourFruit :fruit="fruit" />
      </div>
    </transition>
  </nav>
</template>

<script>
export default {
  computed: {
    fruit() {
      const color = this.hoverColor || this.color;
      switch (color) {
        case 'apple':
          return 'apple';
        case 'aubergine':
          return 'grapes';
        case 'banana':
          return 'lemon';
        case 'leaf':
          return 'zucchini';
        case 'leafDark':
          return 'brokkoli';
        case 'lemon':
          return 'lemon';
        case 'lime':
          return 'pear';
        case 'orange':
          return 'orange';
        case 'pineapple':
          return 'pineapple';
        case 'plum':
          return 'grapes';
        case 'sky':
          return 'grapes';
        case 'strawberry':
          return 'strawberry';
        default:
          return 'grapes';
      }
    },
  },
  data() {
    return {
      active: false,
      hoverColor: null,
      nojs: true,
      pages: [
        {
          color: 'strawberry',
          label: 'Agentur',
          path: '/',
        },
        {
          color: 'orange',
          label: 'Projekte',
          path: '/projekte/',
        },
        {
          children: [
            {
              label: 'Kliniken und Soziales',
              path: '/kliniken-und-soziales/',
            },
            {
              label: 'Hightech',
              path: '/hightech/',
            },
          ],
          color: 'lemon',
          label: 'Schwerpunkte',
          path: '/kompetenzen/',
        },
        {
          children: [
            {
              label: 'Karriere',
              path: '/team/#karriere',
            },
          ],
          color: 'leafDark',
          label: 'Team',
          path: '/team/',
        },
        {
          children: [
            {
              label: 'Impressum',
              path: '/impressum/',
            },
            {
              label: 'Datenschutzerklärung',
              path: '/datenschutz/',
            },
          ],
          color: 'plum',
          label: 'Kontakt',
          path: '/kontakt/',
        },
        // {
        //   color: 'leaf',
        //   label: 'Message in a Box',
        //   path: '/messageinabox/',
        // },
      ],
      scrollLock: false,
    };
  },
  methods: {
    handleLogoClick() {
      if (this.active) this.toggleMenu();
    },
    setHoverColor(color) {
      this.hoverColor = color;
    },
    toggleMenu() {
      if (!this.active) {
        this.scrollLock = true;
        this.active = true;
        this.$emit('activate');
      } else {
        this.scrollLock = true;
        this.active = false;
      }
    },
  },
  mounted() {
    this.$nextTick(() => {
      this.nojs = false; // won’t be run if JS is disabled
    });
  },
  props: {
    color: {
      type: String,
      default: 'sky',
    },
    dark: Boolean,
    mobile: Boolean,
  },
};
</script>

<style lang="stylus" scoped>
@require '../assets/styles/breakpoints'
@require '../assets/styles/colors'

.main-nav
  position: relative
  background-color: $bg
  padding: 0 2rem
  height: 12rem // 3 * 64px
  overflow-x: hidden
  overflow-y: auto
  transition: height 200ms ease, color 200ms ease, background-color 200ms ease

  &.no-scroll
    overflow-y: hidden

  &.active
    height: 100vh

  &.dark
    background-color: $text

  @media $mobile
    height: 7.5rem

  .bar
    max-width: 81rem
    margin: 0 auto
    display: flex
    justify-content: space-between
    align-items: center
    padding: 4rem 0

    @media $mobile
      padding: 2rem 0

      .button
        position: relative
        top: -0.25rem

    a.logo-link
      color: inherit
      line-height: 1
      height: 4rem
      transition: color 200ms ease

      &::after
        content: none

      @media $mobile
        height: 2.5rem

    .logo
      height: 4rem

      @media $mobile
        height: 2.5rem

    .nojs-menu
      list-style: none
      margin: 0
      padding: 0
      white-space: nowrap
      overflow-x: auto
      margin-left: 2rem

      li
        display: inline-block
        margin: 0

        &:not(:last-child)
          margin-right: 2rem

        &::before
          content: none

        a
          color: currentColor

          &:hover,
          &.active--exact
            &::after
              transform: none

            &.apple::after
              background-color: $apple

            &.orange::after
              background-color: $orange

            &.strawberry::after
              background-color: $strawberry

            &.lemon::after
              background-color: $lemon

            &.lime::after
              background-color: $lime

            &.banana::after
              background-color: $banana

            &.aubergine::after
              background-color: $aubergine

            &.maracuja::after
              background-color: $aubergine

            &.plum::after
              background-color: $plum

            &.leaf::after
              background-color: $leaf

            &.leafDark::after
              background-color: $leafDark

            &.sky::after
              background-color: $sky

            &.pineapple::after
              background-color: $pineapple

  .content
    max-width: 81rem
    margin: 0 auto
    display: flex
    flex-wrap: wrap

    @media $mobile
      padding: 0 2rem

    &.v-enter-active
      .column
        transition: transform 200ms ease, opacity 200ms ease

      &.v-enter .column
        transform: translateY(2rem)
        opacity: 0

    .column
      width: 33.33%

      @media $desktopSmall
        width: 50%

        &:last-child
          margin-bottom: 4rem

      @media $mobile
        width: 100%

        &:last-child
          margin-bottom: 0

      a
        color: inherit

        &.h2
          margin-bottom: 2rem
          text-align: left

          &:hover,
          &.active--exact

            &::after
              transform: none

            &.apple::after
              background-color: $apple

            &.orange::after
              background-color: $orange

            &.strawberry::after
              background-color: $strawberry

            &.lemon::after
              background-color: $lemon

            &.lime::after
              background-color: $lime

            &.banana::after
              background-color: $banana

            &.aubergine::after
              background-color: $aubergine

            &.maracuja::after
              background-color: $aubergine

            &.plum::after
              background-color: $plum

            &.leaf::after
              background-color: $leaf

            &.leafDark::after
              background-color: $leafDark

            &.sky::after
              background-color: $sky

            &.pineapple::after
              background-color: $pineapple

          &::after
            height: 0.375rem
            bottom: -0.375rem
            transform: scaleX(0.25)
            transition: transform 200ms ease, background-color 200ms ease

            @media $mobile
              height: 0.25rem
              bottom: -0.25rem

          @media $mobile
            font-size: 2rem
            margin-top: 1rem

      ul
        margin: 0

        @media $mobile
          display: none

        li
          margin-bottom: 0.5rem

          .active--exact::after
            transform: none

  .fruit-wrapper
    position: fixed
    bottom: 0
    // left: 60vw
    right: 0
    width: 40rem
    height: 40rem
    overflow: hidden
    pointer-events: none

    @media $desktopSmall
      width: 24rem
      height: @width
      left: 70vw

    @media $mobile
      // right: -4rem
      left: 30vw
      display: none

    &.v-enter-active
      transition: opacity 200ms ease

      .fruit
        transition: transform 200ms ease

      &.v-enter
        opacity: 0

        .fruit
          transform: rotate(-30deg) scale(0.95)

    .fruit
      position: absolute
      top: 14rem
      left: 14rem
      width: 40rem
      transform: rotate(-30deg)

      @media $desktopSmall
        left: 0
        top: 4rem
</style>
