<template lang="html">
  <div class="client-logo">
    <div v-if="monochrome" v-html="logoData.svg" />
    <img v-else class="client-logo" :src="logoData.path && require(`../../content/uploads/${logoData.path}.svg`)" :alt="`Logo “${logo}”`"  />
  </div>
</template>

<script>
import { logos } from '@/data/clientLogos.json';

export default {
  computed: {
    logoData() {
      const logoData = logos.find((logo) => logo.id === this.logo);

      if (!logoData) return { svg: '', path: '' };

      const split = logoData.path.split('/');
      logoData.path = split[split.length - 1] || '';
      logoData.path = logoData.path.split('.')[0]; // eslint-disable-line

      return logoData;
    },
  },
  props: {
    logo: {
      type: String,
      default: 'autodesk',
    },
    monochrome: {
      type: Boolean,
      default: true,
    },
  },
};
</script>

<style lang="stylus" scoped>
.client-logo
  height: 6rem

  > div
    height: 100%
    display: inline-flex
    align-items: center

  img
    height: 100%

  >>> svg
    height: 100%
    fill: currentColor
</style>
