<template lang="html">
  <div class="checkbox">
    <button aria-label="Checkbox button" :class="[color, { checked: value, dark }]" :id="id" type="button" @click="$emit('input', !value)">
      <div class="ink" />
      <FlavourIcon :icon="value ? 'check' : ''" />
    </button>
    <label :for="id">
      <slot />
    </label>
  </div>
</template>

<script>
import uid from '@/assets/js/uid';

export default {
  data() {
    return {
      id: `checkbox-${uid()}`,
    };
  },
  props: {
    color: {
      type: String,
      default: 'sky',
    },
    dark: Boolean,
    value: Boolean,
  },
};
</script>

<style lang="stylus" scoped>
@require '../assets/styles/colors'

.checkbox
  display: flex
  font-size: 0.875rem

  > button
    padding: 0
    width: 1.25rem
    height: @width
    border: 0.125rem solid currentColor
    background-color: transparent
    margin-right: 0.5rem
    cursor: pointer
    flex-shrink: 0
    position: relative

    &.apple
      border-color: $apple

      .ink
        background-color: $apple

    &.orange
      border-color: $orange
      background-color: $orange

    &.strawberry
      border-color: $strawberry
      background-color: $strawberry

    &.lemon
      border-color: $lemon
      background-color: $lemon

    &.lime
      border-color: $lime
      background-color: $lime

    &.banana
      border-color: $banana
      background-color: $banana

    &.aubergine
      border-color: $aubergine
      background-color: $aubergine

    &.maracuja
      border-color: $maracuja
      background-color: $maracuja

    &.plum
      border-color: $plum
      background-color: $plum

    &.leaf
      border-color: $leaf
      background-color: $leaf

    &.leafDark
      border-color: $leafDark
      background-color: $leafDark

    &.sky
      border-color: $sky
      background-color: $sky

    &.pineapple
      border-color: $pineapple
      background-color: $pineapple

    &.dark .ink
      background-color: $text

    &:hover,
    &:focus
      .ink
        transform: scale(0.5)

    &:focus
      outline: none

    &.checked
      .ink
        transform: scale(0)

    .ink
      position: absolute
      top: 0
      left: 0
      width: 100%
      height: @width
      background-color: $bg
      transition: transform 200ms ease

    .icon
      width: 1rem
      height: @width
      color: $bg

  // > label
  //   margin-top: -0.25rem
</style>
