<template lang="html">
  <component :aria-label="$slots.default && $slots.default[0].text || 'Button'" :is="type" class="button" :class="{ dark, disabled, 'icon-first': iconFirst, link: type === 'a' || type === 'g-link', 'no-label': noLabel || !$slots.default }" :disabled="type === 'button' && disabled" :href="href" :to="href" @click="$emit('click', $event)">
    <div class="ink" :class="[color]" :style="{ backgroundColor: customColor || null }" />
    <FlavourIcon v-if="iconFirst" :icon="icon" />
    <span v-if="!noLabel && $slots.default" class="label">{{$slots.default && $slots.default[0].text}}</span>
    <FlavourIcon v-if="!iconFirst" :icon="icon" />
  </component>
</template>

<script>
export default {
  props: {
    color: {
      type: String,
      default: 'sky',
    },
    customColor: String,
    dark: Boolean,
    disabled: Boolean,
    href: String,
    icon: {
      type: String,
      default: 'chevron-right',
    },
    iconFirst: Boolean,
    noLabel: Boolean,
    type: {
      type: String,
      default: 'button',
      validator: (v) => ['a', 'button', 'g-link'].includes(v),
    },
  },
};
</script>

<style lang="stylus" scoped>
@require '../assets/styles/colors'

.button
  background-color: transparent
  border: none
  display: inline-flex
  align-items: center
  font-family: inherit
  font-size: inherit
  font-weight: bold
  letter-spacing: 0.01618em
  position: relative
  padding: 0
  padding-left: 1.5rem
  height: 3.5rem
  transition: color 200ms ease
  cursor: pointer
  vertical-align: top
  z-index: 1
  user-select: none
  white-space: nowrap
  max-width: 100%

  &.dark
    .ink
      opacity: 1

  &.disabled
    opacity: 0.4
    pointer-events: none

    .ink
      opacity: 0

  &.icon-first
    padding-left: 0
    padding-right: 1.5rem

    &:hover
      .label
        margin-left: 0

    .label
      margin-right: 0
      margin-left: -0.5em

    .ink
      left: 0

  &.link
    color: currentColor

    &::after
      content: none

  &.no-label
    padding-left: 0

  &:focus
    outline: 0

  &:focus,
  &:hover
    .ink
      left: 0
      right: @left
      width: 100%

  &:hover
    color: $bg

    .ink
      opacity: 1

    .label
      margin-right: 0

  &:active
    transform: translateY(2px)

  .label
    margin-right: -0.5em
    transition: margin 200ms ease
    overflow: hidden
    text-overflow: ellipsis

  .icon
    margin: 0 1rem

  .ink
    width: 3.5rem
    height: @width
    padding: 1rem
    opacity: 0.2
    position: absolute
    top: 0
    left: calc(100% - 3.5rem)
    transition: width 200ms ease, left 200ms ease, opacity 200ms ease
    z-index: -1
    border-radius: 1.75rem

    &.apple
      background-color: $apple

    &.orange
      background-color: $orange

    &.strawberry
      background-color: $strawberry

    &.lemon
      background-color: $lemon

    &.lime
      background-color: $lime

    &.banana
      background-color: $banana

    &.aubergine
      background-color: $aubergine

    &.maracuja
      background-color: $maracuja

    &.plum
      background-color: $plum

    &.leaf
      background-color: $leaf

    &.leafDark
      background-color: $leafDark

    &.sky
      background-color: $sky

    &.pineapple
      background-color: $pineapple

</style>
