<template lang="html">
  <section class="story-card" :class="{ 'image-first': imageFirst }">
    <g-image :src="image" :alt="title" height="800" />
    <div class="wrapper">
      <FlavourClientLogo :logo="logo" :monochrome="false" />
      <h3 class="h1">{{title}}</h3>
      <FlavourButton v-if="showButton" :custom-color="buttonColor" dark :href="path" type="g-link">Story Lesen</FlavourButton>
    </div>
  </section>
</template>

<script>
import * as COLORS from '@/assets/js/colors';

export default {
  computed: {
    buttonColor() {
      return COLORS[this.color] || this.color;
    },
    image() {
      if (typeof this.src === 'string' && this.src.startsWith('.')) {
        const split = this.src.split('/');
        return require(`!!assets-loader?height=800!@/assets/images/${split[split.length - 1]}`); // eslint-disable-line import/no-dynamic-require, global-require
      }
      return this.src;
    },
  },
  props: {
    color: {
      type: String,
      default: 'sky',
    },
    imageFirst: Boolean,
    logo: String,
    path: String,
    showButton: {
      type: Boolean,
      default: true,
    },
    src: {
      type: [Object, String],
      required: true,
    },
    title: String,
  },
};
</script>

<style lang="stylus" scoped>
@require '../assets/styles/breakpoints'

.story-card
  position: relative
  height: 50rem
  z-index: 1

  @media $mobile
    height: auto

  > img,
  > noscript >>> img
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    object-fit: cover
    z-index: -1

    @media $mobile
      opacity: 0.2

  &.image-first
    > img,
    > noscript >>> img
      transform: scaleX(-1)

    .wrapper
      margin-left: auto

      @media $desktopLarge
        padding-left: 40.5rem
        padding-right: 0

  .wrapper
    padding: 8rem
    width: 50%
    height: 100%
    display: flex
    justify-content: center
    align-items: flex-start
    flex-direction: column

    @media $desktopLarge
      width: 100%
      max-width: 81rem
      margin: 0 auto
      padding-left: 0
      padding-right: 40.5rem

    @media $desktopSmall
      padding: 4rem

      .h1
        font-size: 3.5rem
        margin-top: 6rem
        margin-bottom: 3rem

    @media $mobile
      padding: 3rem 2rem
      width: 100%

      .h1
        font-size: 3rem
        margin-bottom: 2rem

    .client-logo
      margin-bottom: 1.5rem
      height: 4rem

      @media $mobile
        height: 3rem
        margin-bottom: 0.5rem

    .h1
      margin-top: 0
      text-align: left

      @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) // IE Hack
        width: 100%

      @media $mobile
        margin-bottom: 2rem

    .button
      margin-left: -1.5rem // so it's aligned when not extended
      flex-shrink: 0
</style>
