<template lang="html">
  <transition mode="out-in">
    <svg v-html="iconData.svg" class="icon" viewBox="0 0 24 24" fill="none" stroke="currentColor" :key="icon" xmlns="http://www.w3.org/2000/svg" />
  </transition>
</template>

<script>
import { icons } from '@/data/icons.json';

export default {
  computed: {
    iconData() {
      const iconData = icons.find((icon) => icon.id === this.icon);
      return iconData || { svg: '' };
    },
  },
  props: {
    icon: {
      type: String,
      default: '',
    },
  },
};
</script>

<style lang="stylus" scoped>
.icon
  width: 1.5rem
  height: @width
  flex-shrink: 0
  display: inline-block

  &.v-enter-active,
  &.v-leave-active
    transition: transform 200ms ease, opacity 200ms ease

    &.v-enter,
    &.v-leave-to
      transform: scale(0.5)
      opacity: 0

  >>> path
    stroke-width: 3

    &.two-px
      stroke-width: 2

    &.no-stroke
      stroke: none
      fill: currentColor
</style>
