<template lang="html">
  <figure class="employee">
    <g-image :src="image" :alt="name" width="288" height="400" />
    <figcaption>
      <p>
        <strong>{{name}}</strong>
      </p>
      <p>{{position}}</p>
    </figcaption>
  </figure>
</template>

<script>
export default {
  computed: {
    image() {
      if (typeof this.src === 'string' && this.src.startsWith('.')) {
        const split = this.src.split('/');
        return require(`!!assets-loader?width=288?height=400!@/assets/images/${split[split.length - 1]}`); // eslint-disable-line import/no-dynamic-require, global-require
      }
      return this.src;
    },
  },
  props: {
    name: {
      type: String,
      required: true,
    },
    position: {
      type: String,
      default: 'Mitarbeiter',
    },
    src: {
      type: [String, Object],
      required: true,
    },
  },
};
</script>

<style lang="stylus" scoped>
.employee
  max-width: 18rem
  margin: 0

  > img,
  > noscript >>> img
    max-height: 25rem
    margin-bottom: 1.5rem
    object-fit: cover

  > figcaption
    p
      margin-bottom: 0
</style>
