<template lang="html">
  <component class="card" :class="[borderColor, size, { centered: !text, dark }]" :href="type === 'a' ? href : undefined" :is="type" :to="type === 'g-link' ? href : undefined" :target="type === 'a' && !isHash ? '_blank' : undefined" :rel="type === 'a' && !isHash ? 'noreferrer noopener' : undefined">
    <g-image v-if="image && image.src" :alt="image.alt" :src="image.src" width="128" height="128" />
    <div v-else-if="icon" class="icon-wrapper" :class="[color, { centered: !text }]">
      <FlavourIcon :icon="icon" />
    </div>
    <div v-else-if="fruit" class="fruit-wrapper">
      <FlavourFruit :fruit="fruit" />
    </div>
    <h3 v-if="title" class="actioncard-heading">{{title}}</h3>
    <p v-if="text" class="content" v-html="text">
    <div class="click-hint" :class="[color]">
      <FlavourIcon icon="chevron-right" />
    </div>
  </component>
</template>

<script>
export default {
  computed: {
    isHash() {
      return this.href && this.href.startsWith('#');
    },
  },
  props: {
    borderColor: {
      type: String,
      default: 'sky',
    },
    color: {
      type: String,
      default: 'sky',
    },
    dark: Boolean,
    fruit: String,
    href: {
      type: String,
      default: '#',
    },
    icon: String,
    image: {
      type: Object,
      default: () => ({}),
    },
    size: {
      type: String,
      default: 'normal',
      validator: (v) => ['normal', 'large'].includes(v),
    },
    text: String,
    title: String,
    type: {
      type: String,
      default: 'g-link',
      validator: (v) => ['g-link', 'a'].includes(v),
    },
  },
};
</script>

<style lang="stylus" scoped>
@require '../assets/styles/colors'

.card
  display: flex
  flex-direction: column
  color: inherit
  padding: 2rem
  width: 100%
  min-width: 18rem
  max-width: 25rem // 400px
  margin: 1.5rem
  text-align: left
  position: relative
  border-radius: 2px
  border: 1px solid $sky
  background-color: $bg

  &.dark
    background-color: $text

  &.apple
    border-color: $apple

  &.orange
    border-color: $orange

  &.strawberry
    border-color: $strawberry

  &.lemon
    color: $text
    border-color: $lemon

  &.lime
    color: $text
    border-color: $lime

  &.banana
    color: $text
    border-color: $banana

  &.aubergine
    border-color: $aubergine

  &.maracuja
    border-color: $maracuja

  &.plum
    border-color: $plum

  &.leaf
    border-color: $leaf

  &.leafDark
    border-color: $leafDark

  &.sky
    border-color: $sky

  &.pineapple
    border-color: $pineapple

  &.large
    max-width: 39rem // 624px

  &.centered
    .actioncard-heading
      text-align: center

    img,
    noscript >>> img,
    .click-hint
      margin-left: auto
      margin-right: auto

  &::after
    content: none

  &:hover,
  &:focus
    .click-hint
      color: $bg

      &::before
        transition-timing-function: cubic-bezier(0.64, 0.57, 0.67, 1.53)
        transform: none

  &:active
    transform: translateY(2px)

  img,
  noscript >>> img
    display: block
    width: 8rem
    height: @width
    object-fit: cover
    border-radius: 4rem

  .fruit-wrapper
    width: 8rem
    height: @width

    .fruit
      width: 100%

  .icon-wrapper
    width: 8rem
    height: @width
    border-radius: 50%
    padding: 2rem
    color: $bg

    &.centered
      margin-left: auto
      margin-right: auto

    &.apple
      background-color: $apple

    &.orange
      background-color: $orange

    &.strawberry
      background-color: $strawberry

    &.lemon
      color: $text
      background-color: $lemon

    &.lime
      color: $text
      background-color: $lime

    &.banana
      color: $text
      background-color: $banana

    &.aubergine
      background-color: $aubergine

    &.maracuja
      background-color: $maracuja

    &.plum
      background-color: $plum

    &.leaf
      background-color: $leaf

    &.leafDark
      background-color: $leafDark

    &.sky
      background-color: $sky

    &.pineapple
      background-color: $pineapple

    .icon
      width: 4rem
      height: @width

  .actioncard-heading
    margin-top: 2rem
    margin-bottom: 2rem
    text-align: left

  .content
    margin-bottom: 2rem

  .click-hint
    margin-top: auto
    margin-left: auto
    border: 1px solid $sky
    width: 3.5rem
    height: @width
    border-radius: 50%
    padding: 1rem
    position: relative
    transition: color 200ms ease

    &.apple
      border-color: $apple

      &::before
        background-color: $apple

    &.orange
      border-color: $orange

      &::before
        background-color: $orange

    &.strawberry
      border-color: $strawberry

      &::before
        background-color: $strawberry

    &.lemon
      color: $text
      border-color: $lemon

      &::before
        background-color: $lemon

    &.lime
      color: $text
      border-color: $lime

      &::before
        background-color: $lime

    &.banana
      color: $text
      border-color: $banana

      &::before
        background-color: $banana

    &.aubergine
      border-color: $aubergine

      &::before
        background-color: $aubergine

    &.maracuja
      border-color: $maracuja

      &::before
        background-color: $maracuja

    &.plum
      border-color: $plum

      &::before
        background-color: $plum

    &.leaf
      border-color: $leaf

      &::before
        background-color: $leaf

    &.leafDark
      border-color: $leafDark

      &::before
        background-color: $leafDark

    &.sky
      border-color: $sky

      &::before
        background-color: $sky

    &.pineapple
      border-color: $pineapple

      &::before
        background-color: $pineapple

    &::before
      content: ''
      position: absolute
      top: 0
      left: @top
      width: 100%
      height: 100%
      border-radius: 50%
      background-color: $sky
      transform: scale(0)
      transition: transform 200ms ease

    .icon
      position: relative
      z-index: 1
      top: -1px
</style>
