<template lang="html">
  <section class="steps not-fullwidth">
    <h2 v-if="title" class="show-overline">{{title}}</h2>
    <div class="steps-wrapper">
      <div class="line" />
      <div v-for="(step, index) in steps" class="step visible" :key="index">
        <h3 v-if="step.title" class="actioncard-heading">{{ index + 1 }}. {{step.title}}</h3>
        <div class="icon-wrapper" :style="{ backgroundColor: hexColor }">
          <FlavourIcon :icon="step.icon || 'products'" />
        </div>
        <p v-if="step.body" v-html="step.body" />
      </div>
    </div>
  </section>
</template>

<script>
import * as COLORS from '@/assets/js/colors';

export default {
  beforeDestroy() {
    this.observer.disconnect();
  },
  computed: {
    hexColor() {
      return COLORS[this.color] || this.color;
    },
  },
  data() {
    return {
      observer: null,
    };
  },
  mounted() {
    this.observer = new IntersectionObserver((entries) => {
      entries.forEach((entry) => {
        if (entry.isIntersecting) entry.target.classList.add('visible');
        else entry.target.classList.remove('visible');
      });
    }, { rootMargin: window.innerWidth < 1136 ? '128px 0px -128px 0px' : '0px', threshold: window.innerWidth < 1136 ? 0.5 : 1 });
    this.$nextTick(() => {
      const steps = Array.from(this.$el.querySelectorAll('.step'));
      steps.forEach((step) => this.observer.observe(step));
    });
  },
  props: {
    color: String,
    steps: Array,
    title: String,
  },
};
</script>

<style lang="stylus" scoped>
@require '../assets/styles/breakpoints'
@require '../assets/styles/colors'

$mobileSteps = "only screen and (max-width: 71rem)"

.steps
  padding-top: 8rem
  padding-bottom: @padding-top

  h2
    margin-bottom: 8rem
    margin-top: 0

    @media $mobile
      margin-bottom: 4rem

  .steps-wrapper
    position: relative
    max-width: (1072 / 16)rem
    margin-left: auto
    margin-right: @margin-left

    .line
      width: (4 / 16)rem
      background-color: $text
      opacity: 0.3
      position: absolute
      top: (112 / 16)rem
      bottom: @top
      left: calc(50% - 0.125rem)

    .step
      position: relative
      z-index: 1
      display: flex
      align-items: center

      @media $mobileSteps
        flex-direction: column
        align-items: flex-start
        max-width: (400 / 16)rem
        margin-left: auto
        margin-right: auto
        background-color: white
        padding: 1rem 0

      &:not(:last-child)
        margin-bottom: (112 / 16)rem

        @media $mobileSteps
          margin-bottom: 4rem

      &.visible
        h3,
        p
          opacity: 1

        .icon-wrapper
          transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.275)
          transform: none

      h3,
      p
        max-width: (400 / 16)rem
        margin-top: 0
        margin-bottom: 0
        opacity: 0
        transition: opacity 350ms ease

      .actioncard-heading
        font-size: 1.5rem
        text-align: right
        margin-left: auto

        @media $mobileSteps
          text-align: center
          width: 100%
          margin-left: 0
          margin-bottom: 1rem

      .icon-wrapper
        color: white
        background-color: $bgGrey
        padding: (40 / 16)rem
        border-radius: 50%
        width: 8rem
        height: @width
        margin: 0 (72 / 16)rem
        transform: scale(0)
        transition: transform 350ms cubic-bezier(0.600, -0.280, 0.735, 0.045)

        @media $mobileSteps
          margin-left: auto
          margin-right: auto
          margin-bottom: 2rem
          order: -1

        .icon
          width: (48 / 16)rem
          height: @width

      p
        width: 100%
        margin-left: 0
        margin-right: 0

        @media $mobileSteps
          text-align: center
</style>
