<template lang="html">
  <section class="video" :class="{ 'full-width': fullWidth }">
    <div v-if="videoThumbnail" class="video-wrapper" :class="{ fallback: videoId === 'null' }">
      <YoutubeEmbed :button-color="color" :id="videoId" :thumbnail="videoThumbnail" />
    </div>
    <div class="content-wrapper" :class="{dark}">
      <slot />
    </div>
  </section>
</template>

<script>
import YoutubeEmbed from '@/components/YoutubeEmbed.vue';

export default {
  components: {
    YoutubeEmbed,
  },
  props: {
    color: String,
    dark: Boolean,
    fullWidth: Boolean,
    videoId: String,
    videoThumbnail: [Object, String],
  },
};
</script>

<style lang="stylus" scoped>
@require '../assets/styles/breakpoints'
@require '../assets/styles/colors'

.video
  max-width: 81rem
  margin: 8rem auto
  padding: 2rem 0
  display: flex

  @media $mobile
    padding: 0
    display: block

  &.full-width
    display: block

    .video-wrapper,
    .content-wrapper
      width: auto

    .content-wrapper
      margin: 0 4rem
      border-top-right-radius: 0
      border-bottom-left-radius: 2px

      @media $mobile
        margin: 0
        border-radius: 0

      h2, h3, h4
        text-align: center

  .video-wrapper
    width: 50%

    &.fallback .youtube-wrapper
      background-color: transparent

    @media $mobile
      width: 100%

    .youtube-wrapper
      border-radius: 2px
      min-height: 100%
      background-color: $text

      @media $mobile
        border-radius: 0

  .content-wrapper
    width: 50%
    background-color: $bgGrey
    border-top-right-radius: 2px
    border-bottom-right-radius: 2px
    margin: 2rem 0
    padding: 5rem

    @media screen and (max-width: 50rem)
      padding: 2.5rem 2rem

    @media $mobile
      width: 100%
      margin: 0
      border-radius: 0

    &.dark
      background-color: $text

    :first-child
      margin-top: 0

    h2, h3, h4
      text-align: left

    .button:not(.icon-first)
      margin-left: -1.5rem // so it’s inline with the text

    :last-child
      margin-bottom: 0
</style>
