<template lang="html">
  <div class="fruit" :class="[fruit]">
    <transition mode="out-in">
      <img :src="require(`@/assets/images/fruit/${fruit}.svg`)" :alt="`Flavour Fruit “${fruit}”`" :key="fruit">
    </transition>
  </div>
</template>

<script>
export default {
  props: {
    fruit: {
      type: String,
      default: 'brokkoli',
      validator: (v) => ['apple', 'aubergine', 'brokkoli', 'carrot', 'cherries', 'chilli', 'grapes', 'lemon', 'orange', 'pear', 'pineapple', 'plum', 'strawberry', 'zucchini'].includes(v),
    },
  },
};
</script>

<style lang="stylus" scoped>
.fruit
  img
    display: block

    &.v-enter-active,
    &.v-leave-active
      transition: transform 200ms ease, opacity 200ms ease

      &.v-enter,
      &.v-leave-to
        transform: scale(0.95)
        opacity: 0
</style>
