<template lang="html">
  <section class="quote" :style="{ background }">
    <div class="wrapper" :class="{ image }">
      <g-image v-if="src" :src="image" :alt="name" />
      <blockquote class="content-wrapper" :class="{ image }">
        <p class="h3">{{quote}}</p>
        <cite><strong>{{name}}</strong>{{client ? `, ${client}` : ''}}</cite>
      </blockquote>
    </div>
  </section>
</template>

<script>
import * as COLORS from '@/assets/js/colors';

export default {
  computed: {
    background() {
      if (this.customGradient && this.customGradient.colorOne && this.customGradient.colorTwo) {
        return `linear-gradient(to top right, ${this.customGradient.colorOne}, ${this.customGradient.colorTwo})`;
      }
      return COLORS[this.color] || COLORS[this.approximateColor[this.color]] || this.color;
    },
    image() {
      if (typeof this.src === 'string' && this.src.startsWith('.')) {
        const split = this.src.split('/');
        return require(`!!assets-loader!@/assets/images/${split[split.length - 1]}`); // eslint-disable-line import/no-dynamic-require, global-require
      }
      return this.src;
    },
  },
  data() {
    return {
      approximateColor: {
        lemonGradient: 'bananaGradient',
        limeGradient: 'leafGradient',
        skyGradient: 'plumGradient',
      },
      COLORS,
    };
  },
  props: {
    client: String,
    color: {
      type: String,
      default: 'plumGradient',
    },
    customGradient: Object,
    name: {
      type: String,
      required: true,
    },
    quote: {
      type: String,
      required: true,
    },
    src: [Object, String],
  },
};
</script>

<style lang="stylus" scoped>
@require '../assets/styles/breakpoints'
@require '../assets/styles/colors'

.quote
  padding: 14.5rem 2rem

  @media $mobile
    padding: 4rem 1rem

  .wrapper
    max-width: 81rem
    margin: 0 auto
    position: relative

    @media $mobile
      background-color: $bg
      border-radius: 2px
      padding: 2rem

    &.image
      padding: 2rem 0

      @media $mobile
        padding: 2rem

    > img,
    > noscript >>> img
      position: absolute
      top: 0
      left: 0
      height: 100%
      width: 18rem
      object-fit: cover
      border: 0.25rem solid $bg
      border-radius: 2px

      @media $mobile
        position: static
        width: 5rem
        height: @width
        border: none
        margin-bottom: 1rem
        border-radius: 50%

    > blockquote
      background-color: $bg
      border-radius: 2px
      padding: 2rem
      margin: 0
      line-height: 1.2

      @media $mobile
        padding: 0

      &.image
        margin: 0 0 0 18rem
        border-radius: 0 2px 2px 0

        @media $mobile
          margin: 0
          background-color: transparent

      p.h3
        margin: 0
        margin-bottom: 1rem
        max-width: 100%
        text-align: left

        &::before
          content: '»'
          margin-right: 0.25rem

        &::after
          content: '«'
          margin-left: 0.25rem

        @media $mobile
          font-size: 2rem
          // font-family: 'DM Sans', Helvetica, Arial, sans-serif

      > cite
        font-style: normal
</style>
