<template lang="html">
  <section class="features" :class="{ dark }">
    <div class="not-fullwidth">
      <h2 v-if="title" class="show-overline">{{title}}</h2>
      <div class="feature-wrapper">
        <div v-for="(feature, index) in features" class="feature" :key="index">
          <header>
            <div v-if="feature.icon" class="icon-wrapper" :style="{ backgroundColor: hexColor }">
              <FlavourIcon :icon="feature.icon" />
            </div>
            <h3 v-if="feature.title" class="actioncard-heading">{{feature.title}}</h3>
          </header>
          <p v-if="feature.body" v-html="feature.body" />
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import * as COLORS from '@/assets/js/colors';

export default {
  computed: {
    hexColor() {
      return COLORS[this.color] || this.color;
    },
  },
  props: {
    color: String,
    dark: Boolean,
    features: Array,
    title: String,
  },
};
</script>

<style lang="stylus" scoped>
.features
  padding: 8rem 0

  h2
    margin-top: 0
    margin-bottom: (96 / 16)rem

  .feature-wrapper
    display: flex
    flex-wrap: wrap
    margin: 0 -1.5rem

    .feature
      margin: 1.5rem
      flex: 1 1 (400 / 16)rem

      header
        display: flex
        align-items: center
        margin-bottom: 1.5rem
        max-width: 39rem
        margin-left: auto
        margin-right: auto

        .icon-wrapper
          width: 4rem
          height: @width
          border-radius: (2 / 16)rem
          padding: (12 / 16)rem
          color: white
          margin-right: 1.5rem

          .icon
            width: (40 / 16)rem
            height: @width

        .actioncard-heading
          font-size: 1.5rem
          margin: 0
          line-height: 2rem
          text-align: left

</style>
