<template lang="html">
  <div class="text-highlight">
    <FlavourIcon icon="arrow-right" />
    <div class="slot-wrapper">
      <slot />
    </div>
  </div>
</template>

<script>
export default {
};
</script>

<style lang="stylus" scoped>
.text-highlight
  position: relative
  max-width: 39rem
  margin: 0 auto

  .icon
    position: absolute
    width: 1rem
    height: @width
    top: 0.375rem
    left: 0.25rem

  .slot-wrapper
    padding-left: 2rem
</style>
