<template lang="html">
  <div class="select">
    <span class="spacer">{{value ? labelOrValue : placeholder}}</span>
    <div class="select-box-content" :class="{active, dark }" ref="content" :style="{bottom: fromBottom ? 0 : '', height, overflowY: activateOverflow || null, top: fromBottom ? '' : 0}" :tabindex="0" @focus="activate" @focusout="checkDeactivation" @keyup.self.space.prevent="deactivate" @keyup.self.enter="deactivate">
      <section class="current-selection" @click="deactivate">
        <span v-if="!value" class="placeholder">{{placeholder}}</span>
        <span v-if="value" class="content">{{labelOrValue}}</span>
        <FlavourIcon icon="chevron-down" :style="{transform: active ? 'rotate(180deg)' : ''}" />
      </section>
      <ul v-show="active">
        <li v-for="(option, index) in otherOptions" :key="index" :tabindex="active ? 0 : -1" @click="handleClick(option)" @keyup.space.prevent="handleClick(option)" @keyup.enter="handleClick(option)">
          {{ option.label || option.value }}
        </li>
      </ul>
    </div>
  </div>
</template>

<script>
export default {
  computed: {
    height() {
      if (this.active) return `${(this.otherOptions.length + 1) * 3.5}rem`;
      return '';
    },
    labelOrValue() {
      const selectedOption = this.options.find((option) => option.value === this.value);
      if (!selectedOption) return 'Invalid Value';
      if (selectedOption.label) return selectedOption.label;
      return selectedOption.value;
    },
    otherOptions() {
      return this.options.filter((option) => option.value !== this.value);
    },
  },
  data() {
    return {
      active: false,
      activateOverflow: false,
      fromBottom: false,
      remBase: 16,
      selection: this.value,
    };
  },
  methods: {
    activate() {
      if (this.forceFromBottom || this.$el.getBoundingClientRect().top + (this.otherOptions.length + 1) * (this.remBase * 3.5) > window.innerHeight) this.fromBottom = true;
      else this.fromBottom = false;
      this.active = true;
    },
    checkDeactivation(e) {
      if (!this.$el.contains(e.relatedTarget)) {
        this.active = false;
      }
    },
    deactivate() {
      this.$refs.content.focus();
      this.$refs.content.blur();
    },
    handleClick(option) {
      this.deactivate();
      this.$emit('input', option.value);
    },
  },
  props: {
    dark: Boolean,
    forceFromBottom: Boolean,
    options: Array,
    placeholder: {
      type: String,
      default: 'Select something',
    },
    value: [String, Number, Boolean],
  },
  watch: {
    active(newVal) {
      if (newVal) {
        window.setTimeout(() => {
          this.activateOverflow = 'auto';
        }, 200);
      } else this.activateOverflow = false;
    },
    value(newValue) {
      this.selection = newValue;
    },
  },
};
</script>

<style lang="stylus" scoped>
@require '../assets/styles/colors'

.select
  display: inline-block
  height: 3.5rem
  position: relative

  .spacer
    padding: 1rem 1.5rem
    padding-right: (1.5 + 1 + 1.5)rem
    white-space: nowrap
    visibility: hidden

  .select-box-content
    cursor: pointer
    padding: 1rem 1.5rem
    padding-bottom: 0
    border-radius: (2 / 16)rem
    background-color: white
    color: inherit
    line-height: 1.5rem
    height: 3.5rem
    width: 100%
    max-height: 50vh
    overflow: hidden
    position: absolute
    transition: height 200ms ease, box-shadow 200ms ease

    &.dark
      background-color: $text

    &.active
      cursor: default
      z-index: 2

      .current-selection
        pointer-events: unset

    &:focus
      outline: none
      box-shadow: inset 0 0 0 1px currentColor

    .current-selection
      pointer-events: none
      cursor: pointer
      display: flex
      justify-content: space-between
      align-items: center
      margin-bottom: 1rem
      white-space: nowrap
      position: relative
      overflow: hidden

      .placeholder,
      .content
        overflow: hidden
        text-overflow: ellipsis

      .icon
        margin-left: 1rem
        transition: transform 200ms ease

    ul
      list-style: none
      padding: 0
      margin: 0 -1.5rem

      li
        padding: 1rem 1.5rem
        cursor: pointer
        text-align: left
        border-radius: (2 / 16)rem
        margin: 0

        &:focus
          outline: none
          box-shadow: inset 0 0 0 1px currentColor

        &::before
          content: none
</style>
