<template lang="html">
  <svg class="footer-fruit" width="749" height="646" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M315 155l126-73-187-189L46 312l269-157z" :fill="`url(#paint0_linear_${componentId})`"/>
    <path d="M352 314l-37-159L46 312l370 274-64-272z" :fill="`url(#paint1_linear_${componentId})`"/>
    <path d="M704-71L441 82l242 240 21-393z" :fill="`url(#paint2_linear_${componentId})`"/>
    <path opacity=".2" d="M683 322L46 312" :stroke="`url(#paint3_linear_${componentId})`" stroke-width="6" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
    <path opacity=".2" d="M683 322L254-107" :stroke="`url(#paint4_linear_${componentId})`" stroke-width="6" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
    <path d="M416 586L315 155" :stroke="`url(#paint5_linear_${componentId})`" stroke-width="6" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
    <path d="M46 312L704-71" :stroke="`url(#paint6_linear_${componentId})`" stroke-width="6" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
    <path d="M683 322L416 586 46 312l208-419 450 36-21 393z" :stroke="`url(#paint7_linear_${componentId})`" stroke-width="6" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
    <defs>
      <linearGradient :id="`paint0_linear_${componentId}`" x1="301.5" y1="25.8" x2="-183.8" y2="427.2" gradientUnits="userSpaceOnUse">
        <stop :stop-color="colorTwo"/>
        <stop offset="1" :stop-color="colorOne"/>
      </linearGradient>
      <linearGradient :id="`paint1_linear_${componentId}`" x1="350.2" y1="170" x2="209.8" y2="497.6" gradientUnits="userSpaceOnUse">
        <stop :stop-color="colorOne"/>
        <stop offset="1" :stop-color="colorTwo"/>
      </linearGradient>
      <linearGradient :id="`paint2_linear_${componentId}`" x1="682.7" y1="-80.2" x2="537.1" y2="259.4" gradientUnits="userSpaceOnUse">
        <stop :stop-color="colorOne"/>
        <stop offset="1" :stop-color="colorTwo"/>
      </linearGradient>
      <linearGradient :id="`paint3_linear_${componentId}`" x1="415" y1="198.5" x2="313.7" y2="434.8" gradientUnits="userSpaceOnUse">
        <stop :stop-color="colorOne"/>
        <stop offset="1" :stop-color="colorTwo"/>
      </linearGradient>
      <linearGradient :id="`paint4_linear_${componentId}`" x1="515.9" y1="-3.1" x2="421" y2="218.2" gradientUnits="userSpaceOnUse">
        <stop :stop-color="colorOne"/>
        <stop offset="1" :stop-color="colorTwo"/>
      </linearGradient>
      <linearGradient :id="`paint5_linear_${componentId}`" x1="438.7" y1="199.3" x2="292.1" y2="541.4" gradientUnits="userSpaceOnUse">
        <stop :stop-color="colorTwo"/>
        <stop offset="1" :stop-color="colorOne"/>
      </linearGradient>
      <linearGradient :id="`paint6_linear_${componentId}`" x1="498.3" y1="-167.8" x2="251.4" y2="408.2" gradientUnits="userSpaceOnUse">
        <stop :stop-color="colorOne"/>
        <stop offset="1" :stop-color="colorTwo"/>
      </linearGradient>
      <linearGradient :id="`paint7_linear_${componentId}`" x1="560.6" y1="-141.1" x2="271.7" y2="532.7" gradientUnits="userSpaceOnUse">
        <stop :stop-color="colorOne"/>
        <stop offset="1" :stop-color="colorTwo"/>
      </linearGradient>
    </defs>
  </svg>
</template>

<script>
import uid from '@/assets/js/uid';
import * as COLORS from '@/assets/js/colors';

export default {
  computed: {
    colorOne() {
      switch (this.color) {
        case 'apple':
          return COLORS.apple;
        case 'aubergine':
          return COLORS.plum;
        case 'banana':
          return COLORS.banana;
        case 'leaf':
          return COLORS.leaf;
        case 'leafDark':
          return COLORS.leafDark;
        case 'maracuja':
          return COLORS.aubergine;
        case 'orange':
          return COLORS.orange;
        case 'pineapple':
          return COLORS.pineapple;
        case 'plum':
          return COLORS.plum;
        case 'strawberry':
          return COLORS.strawberry;
        default:
          return COLORS.plum;
      }
    },
    colorTwo() {
      switch (this.color) {
        case 'apple':
          return COLORS.banana;
        case 'aubergine':
          return COLORS.aubergine;
        case 'banana':
          return COLORS.lemon;
        case 'leaf':
          return COLORS.lime;
        case 'leafDark':
          return COLORS.leaf;
        case 'maracuja':
          return COLORS.maracuja;
        case 'orange':
          return COLORS.banana;
        case 'pineapple':
          return COLORS.banana;
        case 'plum':
          return COLORS.sky;
        case 'strawberry':
          return COLORS.apple;
        default:
          return COLORS.sky;
      }
    },
  },
  data() {
    return {
      componentId: uid(),
    };
  },
  props: {
    color: {
      type: String,
      default: 'plum',
    },
  },
};
</script>

<style lang="stylus" scoped>
  .footer-fruit
    overflow: hidden
</style>
