<template lang="html">
  <div class="youtube-wrapper" :class="{active}" :style="{ paddingBottom: `${aspectRatio * 100}%` }">
    <transition mode="out-in">
      <div v-if="!active" class="thumbnail" :class="{ fallback: id === 'null' }">
        <g-image :src="image" alt="Thumbnail not found" :width="String(width)" :height="String(height)" />
        <FlavourButton v-if="id !== 'null'" dark :color="buttonColor" icon="play" @click="active = true">Video abspielen</FlavourButton>
      </div>
      <iframe
      v-else
      :width="width"
      :height="height"
      :src="`https://www.youtube-nocookie.com/embed/${id}?autoplay=1&modestbranding=1&showinfo=0&rel=0`"
      frameborder="0"
      allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen
      />
    </transition>
  </div>
</template>

<script>
export default {
  computed: {
    aspectRatio() {
      return this.height / this.width;
    },
    image() {
      if (typeof this.thumbnail === 'string' && this.thumbnail.startsWith('.')) {
        const split = this.thumbnail.split('/');
        return require(`!!assets-loader!@/assets/images/${split[split.length - 1]}`); // eslint-disable-line import/no-dynamic-require, global-require
      }
      return this.thumbnail;
    },
  },
  data() {
    return {
      active: false,
    };
  },
  props: {
    buttonColor: {
      type: String,
      default: 'sky',
    },
    height: {
      type: Number,
      default: 360,
    },
    id: {
      type: String,
      required: true,
    },
    thumbnail: [Object, String],
    width: {
      type: Number,
      default: 640,
    },
  },
};
</script>

<style lang="stylus" scoped>
@require '../assets/styles/breakpoints'
@require '../assets/styles/colors'

.youtube-wrapper
  position: relative
  width: 100%
  height: 0
  overflow: hidden

  .thumbnail,
  iframe
    &.v-enter-active,
    &.v-leave-active
      transition: opacity 200ms ease

      &.v-enter,
      &.v-leave-to
        opacity: 0

  iframe
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%

  .thumbnail
    display: flex
    align-items: center
    justify-content: center
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    background-color: $text

    &.fallback
      background-color: transparent

      > img,
      > noscript >>> img
        opacity: 1

    > img,
    > noscript >>> img
      position: absolute
      top: 0
      left: 0
      width: 100%
      height: 100%
      object-fit: cover
      opacity: 0.5
</style>
