<template lang="html">
  <div class="main-wrapper">
    <div v-if="noscript" class="noscript-hint nojs">
      <p>{{ $static.metadata.nojs }}</p>
    </div>
    <div v-if="runningIE" class="iemsg dark" :style="{ backgroundColor: colors[pageColor] }">
      <p>{{ $static.metadata.iemsg }}</p>
    </div>
    <transition>
      <FlavourMenu v-if="!lpLayout" v-show="showMenu" :color="pageColor" :dark="pageDark" :mobile="$root.mobile" @activate="setScroll(false)" @deactivate="setScroll(true)" />
    </transition>
    <transition name="page" mode="out-in" @before-enter="$root.$emit('triggerScroll')">
      <router-view v-if="!lpLayout" :key="$route.path" @lock-scroll="setScroll(false)" @release-scroll="setScroll(true)" />
      <router-view v-else :key="$route.path" :show-menu="showMenu" @lock-scroll="setScroll(false)" @release-scroll="setScroll(true)" />
    </transition>
    <FlavourFooter v-if="!lpLayout" :color="pageColor" :dark="pageDark" />
    <FlavourCookieConsent :visible="!noscript && showCookieConsent" @accept="handleCookieAccept" @deny="handleCookieDeny" />
  </div>
</template>

<script>
import objectFitImages from 'object-fit-images';
import NProgress from 'nprogress';
import * as colors from '@/assets/js/colors';
import trackGoogleConversions from '@/assets/js/trackConversions';

export default {
  computed: {
    lpLayout() {
      return this.$route.path.startsWith('/lp/');
    },
    pageColor() {
      if (process.isServer) {
        if (this.$page) return this.$page.data.fallbackColor || this.$page.data.color || 'plum';
        return 'plum';
      }
      return this.$root.pageColor;
    },
    pageDark() {
      if (process.isServer) {
        if (this.$page) return this.$page.data.dark;
        return false;
      }
      return this.$root.pageDark;
    },
  },
  data() {
    return {
      colors,
      lastScrollTop: 0,
      showCookieConsent: true,
      showMenu: true,
      defaultColor: 'plum',
      defaultDark: false,
      noscript: true,
      originalPath: null,
      runningIE: false,
    };
  },
  metaInfo() {
    return {
      title: this.$static.metadata.siteName,
      meta: [
        {
          key: 'description',
          name: 'description',
          content: this.$static.metadata.siteDescription,
        },
        {
          key: 'keywords',
          name: 'keywords',
          content: this.$static.metadata.siteKeywords.join(','),
        },
        {
          key: 'og:description',
          property: 'og:description',
          content: this.$static.metadata.siteDescription,
        },
        {
          key: 'og:image',
          property: 'og:image',
          content: `${this.$static.metadata.siteUrl}/defaultSocialMediaImage.jpg`,
        },
        {
          key: 'og:site_name',
          property: 'og:site_name',
          content: this.$static.metadata.siteName,
        },
        {
          key: 'twitter:card',
          name: 'twitter:card',
          content: 'summary_large_image',
        },
        {
          key: 'twitter:site',
          name: 'twitter:site',
          content: `@${this.$static.metadata.socialMedia.twitterHandle}`,
        },
      ],
    };
  },
  methods: {
    handleCookieAccept() {
      this.showCookieConsent = false;

      // load in Hubspot
      const hubspotScriptTag = document.createElement('script');
      hubspotScriptTag.id = 'hs-script-loader';
      hubspotScriptTag.async = true;
      hubspotScriptTag.defer = true;
      hubspotScriptTag.src = this.$static.metadata.hubspotTrackingCodeURL;

      // load in Google global site tag
      const googleScriptTag = document.createElement('script');
      googleScriptTag.async = true;
      googleScriptTag.src = this.$static.metadata.googleTrackingCodeURL;

      // create Google inline script
      const googleInlineScriptTag = document.createElement('script');
      googleInlineScriptTag.textContent = "window.dataLayer = window.dataLayer || []; function gtag(){dataLayer.push(arguments);} gtag('js', new Date()); gtag('config', 'AW-986059024');";

      // create Google Tag manager script
      const googleTagManager = document.createElement('script');
      googleTagManager.textContent = "(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start': new Date().getTime(), event: 'gtm.js' }); var f = d.getElementsByTagName(s)[0], j=d.createElement(s), dl=l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src = 'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f); })(window, document, 'script', 'dataLayer', 'GTM-5CR9PWB');";

      const googleTagManagerNoscript = document.createElement('noscript');
      googleTagManagerNoscript.innerHTML = '<iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5CR9PWB" height="0" width="0" style="display:none;visibility:hidden"></iframe>';

      document.body.appendChild(hubspotScriptTag);
      document.body.appendChild(googleTagManagerNoscript);
      document.head.appendChild(googleScriptTag);
      document.head.appendChild(googleInlineScriptTag);
      document.head.appendChild(googleTagManager);

      // actually track the conversions now that everything is available
      // since we only want to track it once, it’s fine that this code only runs once
      // we have to use a cached original path though, since the consent might only be given after the user has navigated away already
      trackGoogleConversions('klinikmarketing', this.originalPath);

      if (window.localStorage && window.localStorage.getItem('cookies') !== 'accepted') window.localStorage.setItem('cookies', 'accepted');
    },
    handleCookieDeny() {
      this.showCookieConsent = false;

      if (window.localStorage && window.localStorage.getItem('cookies') !== 'denied') window.localStorage.setItem('cookies', 'denied');
    },
    handleScroll() {
      const currentScrollTop = Math.max(window.pageYOffset, document.documentElement.scrollTop, document.body.scrollTop);
      if (this.animationFrame) window.cancelAnimationFrame(this.animationFrame);
      this.animationFrame = window.requestAnimationFrame(() => {
        if (currentScrollTop <= this.lastScrollTop && !this.showMenu) this.showMenu = true;
        else if (currentScrollTop > this.lastScrollTop && this.showMenu) this.showMenu = false;
        this.lastScrollTop = currentScrollTop;
      });
    },
    setMobile() {
      if (!this.$root.mobile && window.innerWidth < 640) this.$root.mobile = true;
      else if (this.$root.mobile && window.innerWidth > 640) this.$root.mobile = false;
    },
    setScroll(allowScroll) {
      if (!allowScroll) document.documentElement.style.overflow = 'hidden';
      else document.documentElement.style.removeProperty('overflow');
    },
  },
  mounted() {
    window.addEventListener('scroll', this.handleScroll, { capture: true, passive: true });
    window.addEventListener('resize', this.setMobile, { passive: true });
    this.$root.mobile = window.innerWidth < 640;
    this.originalPath = this.$route.path; // cache the first route we visited for tracking purposes

    if ('scrollRestoration' in window.history) window.history.scrollRestoration = 'manual';
    this.$router.beforeEach((to, from, next) => {
      if (!this.showMenu) this.showMenu = true;
      next();
    });

    if (process.isClient) { // NProgress requires document to be defined
      NProgress.configure({ showSpinner: false });

      this.$router.beforeEach((to, from, next) => {
        if (to.path !== from.path) {
          NProgress.start();
          const npEl = document.getElementById('nprogress');
          if (npEl) npEl.style.color = colors[this.$root.pageColor];
        }
        next();
      });

      this.$router.afterEach(() => {
        NProgress.done();
        if (this.runningIE) this.runningIE = false;
      });
    }

    if (window.document.documentMode) this.runningIE = true; // only IE 8+ has documentMode
    objectFitImages(); // polyfill object-fit

    this.$nextTick(() => {
      if (window.localStorage) {
        // check if cookies were denied or accepted before
        const consent = window.localStorage.getItem('cookies');

        if (consent === 'denied') this.handleCookieDeny();
        else if (consent === 'accepted') this.handleCookieAccept();
      }
      this.noscript = false; // will only be executed if JS is enabled
    });
  },
};
</script>

<static-query>
  query {
    metadata {
      googleTrackingCodeURL,
      hubspotTrackingCodeURL,
      iemsg,
      nojs,
      siteKeywords,
      siteName,
      siteDescription,
      siteUrl,
      socialMedia {
        twitterHandle
      }
    }
  }
</static-query>

<style lang="stylus" scoped>
@require '/assets/styles/breakpoints'
@require '/assets/styles/colors'

.main-wrapper
  margin-top: 12rem
  background-color: $bg

  @media $mobile
    margin-top: 7.5rem

  .noscript-hint
    background-color: $strawberry
    color: $bg
    padding: 1rem

    @media $mobile
      font-size: 0.875rem

    p
      max-width: 81rem
      margin-bottom: 0

  .iemsg
    padding: 1rem

    @media $mobile
      font-size: 0.875rem

    p
      margin-bottom: 0
      max-width: 81rem

  .main-nav
    position: fixed
    top: 0
    width: 100%
    z-index: 9

    &.v-enter-active,
    &.v-leave-active
      transition: transform 200ms ease-out

      &.v-enter,
      &.v-leave-to
        transform: translateY(-100%)

  .page-enter-active,
  .page-leave-active
    transition: opacity 200ms ease

    &.page-enter,
    &.page-leave-to
      opacity: 0
</style>
