@require 'breakpoints'
@require 'colors'

*
  box-sizing: border-box
  -webkit-tap-highlight-color: transparent

  &::selection
    background-color: $sky
    color: $bg

html
  font-size: 16px
  -webkit-font-smoothing: antialiased
  -webkit-font-smoothing: subpixel-antialiased
  -moz-osx-font-smoothing: grayscale

body
  margin: 0
  padding: 0
  min-height: 100vh
  background-color: $bg
  color: $text
  font-family: 'DM Sans', Helvetica, Arial, sans-serif
  font-size: 1.125rem // 18px
  line-height: 1.618
  letter-spacing: 0.01618em
  hyphens: auto
  overflow-wrap: break-word
  word-wrap: break-word

  &.dark
    background-color: $text

  h1, h2, h3,
  .h1, .h2, .h3
    font-weight: normal
    font-family: 'DM Serif Display', serif
    text-align: center
    hyphens: manual

    @media $mobile
      hyphens: auto

    &.show-overline::before
      content: ''
      display: block
      height: 1px
      background-color: currentColor
      width: 12.5rem
      max-width: 80%
      margin: 0 auto
      margin-bottom: 2rem

    &.with-overline
      margin-top: 0

  h1, h2,
  .h1, .h2
    letter-spacing: 0.0075em

  h1, .h1
    font-size: 5rem
    line-height: 1.16
    margin-top: 8rem
    margin-bottom: 4.5rem

    @media $mobile
      font-size: 3.5rem
      margin-top: 6rem
      margin-bottom: 3rem

  h2, .h2
    font-size: 3.5rem
    line-height: 1.23
    margin-top: 6rem
    margin-bottom: 3rem
    max-width: 48rem
    margin-left: auto
    margin-right: auto

    @media $mobile
      font-size: 2.5rem
      line-height: 1.32
      letter-spacing: 0.015em
      margin-top: 4rem
      margin-bottom: 2rem

  h3, .h3
    font-size: 2.5rem
    line-height: 1.32
    letter-spacing: 0.015em
    margin-top: 4rem
    margin-bottom: 2rem

    @media $mobile
      font-size: 2rem

  h4, .h4, .overline, .actioncard-heading
    font-family: inherit
    font-size: 2rem
    font-weight: 500
    line-height: 1.41
    letter-spacing: 0.015em
    text-align: center

    @media $mobile
      font-size: 1.5rem

  .overline
    margin-bottom: 2rem

  p, ul, ol
    max-width: 39rem // 624px ≈ 70 Zeichen
    margin-left: auto
    margin-right: auto

  p
    margin-top: 0
    margin-bottom: 1.618em

  a
    text-decoration: none
    color: $plum
    outline: none
    display: inline-block
    position: relative

    &::after
      display: block
      content: ''
      height: 3px
      width: 100%
      background-color: currentColor
      position: absolute
      bottom: 0
      transform-origin: left
      transform: scaleX(0)
      transition: transform 200ms ease

    &:hover,
    &:focus
      &::after
        transform: none

    /* Multiline animated underline */
    /* background-image: linear-gradient(currentColor, currentColor)
    background-position: 0% calc(100% + 2px)
    background-repeat: no-repeat
    background-size: 0% 3px
    transition: background-size 200ms ease

    &:hover,
    &:focus
      background-size: 100% 3px */

  ul, ol
    margin: (2 * 1.618)em auto
    padding: 0
    padding-left: 2rem
    list-style: none

    li
      margin-bottom: 1.168em
      position: relative

      &::before
        position: absolute
        left: -1.5rem

  ul
    li
      &::before
        content: '⬢'
        font-size: 0.618rem
        line-height: 28px // 1.125rem * 1.168 (HAS TO MATCH PARENT font-size) / no longer the case 28px is better aligned visually

  ol
    counter-reset: li-counter

    li
      counter-increment: li-counter

      &::before
        content: counter(li-counter) '. '

  img
    display: block
    max-width: 100%

  .dark
    background-color: $text
    color: $bg

    &::selection
      background-color: $leaf

    a
      color: $sky

      &::selection
        background-color: $leaf

  .not-fullwidth
    max-width: 81rem
    margin: 0 auto

    @media $desktopSmall
      padding-left: 2rem
      padding-right: 2rem

  .card-wrapper
    display: flex
    justify-content: center
    flex-wrap: wrap
    margin-left: -1.5rem
    margin-right: @margin-left

  .logo-wrapper
    display: flex
    justify-content: center
    flex-wrap: wrap

    .client-logo
      width: 18rem
      height: 10rem
      display: flex
      justify-content: center
      align-items: center
      margin: 1.5rem

      @media $mobile
        width: 9rem
        height: 5rem
        margin: 0.75rem

      svg,
      img
        height: 4rem
        width: 18rem

        @media $mobile
          height: 2rem

  .nojs // work around the noscript issues in Gridsome / Vue
    display: none
