<template>
  <main class="default-layout">
    <slot/>
  </main>
</template>

<static-query>
</static-query>

<style lang="stylus">
.default-layout
  max-width: 81rem // 1296px
  margin: 0 auto
  overflow-x: hidden // for initial debugging, remove later
</style>
